<!-- 3steps-block -->

<section class="steps-block">
  <div class="container">
    <div class="steps__text-block">
      <div class="steps__title-block">
        <h2>3 Простых Шага</h2>
        <div class="steps__decor-line decor__line"></div>
        <h2>К Очищению Воздуха</h2>
      </div>
      <div class="steps__description">
        <h3>Кажется, Это Знак...</h3>
        <ul>
          <li>Получите скидку 5% на монтаж при заполнении анкеты на сайте</li>
          <li>Бесплатно сделаем проект и пусконаладку системы при заказе монтажа</li>
          <li>Кэшбек до 10% дизайнерам при передаче Клиента и заказе у нас проекта с монтажом!</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="step__card-blocks">

    <div class="step__card">
      <div class="card__lamp-img"></div>
      <p class="step__card-text">Ваше желание</p>
    </div>

    <div class="step__card">
      <div class="card__list-img"></div>
      <p class="step__card-text">Заявка</p>
    </div>

    <div class="step__card">
      <div class="card__star-img"></div>
      <p class="step__card-text">Реализация</p>
    </div>
  </div>
</section>