<!-- about-block -->

<section>
  <div class="container">
    <div class="about__block" id="about">
      <div class="about__text-block">
        <div class="about__title-block">
          <h2>О Нас<span>pascal vent </span>Особенности</h2>
        </div>
        <div class="about__text">
          <p>Мы любим то, чем занимаемся – поэтому у нас
            индивидуальный подход к каждому человеку, креативные решения для проекта любой сложности и высокий уровень
            клиентского сервиса.
          </p>
          <p>Именно поэтому нам доверяют сложнейшие задачи,
            рекомендуют нас и возвращаются вновь. Доверьте нам воплощение ваших самых изысканных и технологичных
            задач, и мы сделаем всё с высочайшим уровнем сервиса <span>Pascal Vent</span> .</p>
          <p><span>Pascal Vent</span> .</p> гарантирует сертифицированные современные системы, оборудование,
          качественные материалы и
          самые оптимальные решения под любой бюджет.</p>
        </div>
      </div>

      <div class="results-blocks">

        <div class="result__box result__box_first">
          <p class="result__text-title"><span>10</span> лет на рынке</p>
          <p class="result__text">Работаем<br>как единое целое</p>
        </div>

        <div class="result__box result__box_second">
          <p class="result__text-title"><span>+ 11</span> лет стажа</p>
          <p class="result__text">Опытные и обученые специалисты своего дела</p>
        </div>

        <div class="result__box result__box_third">
          <p class="result__text-title"><span>+ 180</span> клиентов</p>
          <p class="result__text">Число счастливых клиентов за этот период</p>
        </div>

        <div class="result__box result__box_fourth">
          <p class="result__text-title"><span>+ 470 </span>проектов</p>
          <p class="result__text">Большое количество реализованных проектов</p>
        </div>
      </div>
    </div>
</section>