<!-- all-season -->

<section>
  <div class="container">
    <div class="all-season__block" id="seasons">
      <div class="all-season__text-block">
        <h2 class="all-season__title">комфорт и уют <br>в любое время года</h2>
        <div class="all-season__icons-block">
          <ul>
            <li class="text-block__icon-1"></li>
            <li class="text-block__icon-2"></li>
            <li class="text-block__icon-3"></li>
            <li class="text-block__icon-4"></li>
            <li class="text-block__icon-5"></li>
            <li class="text-block__icon-6"></li>
          </ul>
        </div>

        <div class="all-season__text">
          <ul>
            <li>Создание комфортных условий для работы и отдыха</li>
            <li>Чистый, свежий, приточный воздух круглый год</li>
            <li>Удаление не приятных запахов, избыточной влажности и
              накопившегося углекислого газа из помещений</li>
            <li>Поддержание комфортной температуры и
              влажности воздуха зимой и летом</li>
          </ul>
          <p><span>Pascal Vent</span> поможет улучшить ваше самочувствие и повысить
            работоспособность днем, а ночью подарит здоровый и крепкий сон. Это важно для тех, кто следит за своим
            здоровьем и
            здоровьем своих близких.
          </p>
        </div>

        <div class="all-season__btn-box">
          <button class="all-season__btn btn">заполнить заявку</button>
        </div>
      </div>

      <div class="picture__block">
        <img class="all-season__image all-season__picture-1" src="assets/img/all-seasons/all-seasons-picture-1.png"
          alt="вентиляция">
        <img class="all-season__image all-season__picture-2" src="assets/img/all-seasons/all-seasons-picture-2.png"
          alt="вентиляция">
        <img class="all-season__image all-season__picture-3" src="assets/img/all-seasons/all-seasons-picture-3.png"
          alt="вентиляция">
        <img class="all-season__image all-season__picture-4" src="assets/img/all-seasons/all-seasons-picture-4.png"
          alt="вентиляция">

      </div>
    </div>
  </div>
</section>