<!-- Application-block -->



<section class="application">
  <div class="container">
    <div class="application__title-block">
      <h3>Оставьте заявку и мы с вами свяжемся </h3>
    </div>
    <form class="application__form" action="#">
      <input class="application__name" type="text" placeholder="Ваше Имя">
      <input class="application__phone" type="tel" name="phone" placeholder="Номер телефона">
      <div class="application__btn-box">
        <input class="application__btn btn" value="отправить" type="submit" disabled="">
      </div>
    </form>
  </div>
</section>