<!-- Clients block -->

<section class="clients">
  <div class="container">
    <div class="clients__block" id="clients">
      <div class="clients__text-box">
        <div class="clients__title-block">
          <h2>Известные клиенты</h2>
          <div class="clients__decor-line decor__line"></div>
          <h2>которые нам доверились</h2>
        </div>
        <p class="clients__text">Реализованы проекты квартир и коммерческих помещений в жилых комплексах <br>
          от крупных застройщиков таких как: Level, ФСК, MR групп, ПИК, Самолет, Гранель, Донстрой, Пионер, Эталон,
          А101, Sminex, Vesper, Инград, КРОСТ, МИЦ. Мы ценим каждого клиента <span>Pascal Vent</span> и с радостью
          готовы расширять
          нашу клиентскую базу.</p>
      </div>
    </div>
  </div>
  <div class="clients__slider-block">
    <div class="clients__card clients__card-img-1"></div>
    <div class="clients__card clients__card-img-2"></div>
    <div class="clients__card clients__card-img-3"></div>
    <div class="clients__card clients__card-img-4"></div>
    <div class="clients__card clients__card-img-3"></div>
    <div class="clients__card clients__card-img-2"></div>
  </div>
</section>