<!-- Complex-desigion block -->

<div class="desigion__block" id="price">
  <div class="container">
    <div class="desigion__title-block">
      <h2>Комплексное Решение По Монтажу</h2>
      <h2>И Вентиляции Под Ключ</h2>
      <div class="desigion__decor-line decor__line"></div>
    </div>
  </div>

  <div class="desigion__card-wrapper">
    <div class="container">
      <div class="desigion__lung-img">
        <img src="assets/img/desigion/lung-img.svg" alt="Картинка - зеленые легкие">
      </div>
      <div class="desigion__card-list">
        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-1">
            <div class="card-top__price">
              <p class="card-top__price-text">от 100 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Квартиры и офисы</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-2">
            <div class="card-top__price">
              <p class="card-top__price-text">от 100 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Магазины и ТЦ</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-3">
            <div class="card-top__price">
              <p class="card-top__price-text">от 150 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Фитнес центры</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-4">
            <div class="card-top__price">
              <p class="card-top__price-text">от 150 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Бассейны</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-5">
            <div class="card-top__price">
              <p class="card-top__price-text">от 200 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Загородные дома, коттеджи, таунхаусы</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-6">
            <div class="card-top__price">
              <p class="card-top__price-text">от 200 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Рестораны, кафе, бары</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-7">
            <div class="card-top__price">
              <p class="card-top__price-text">от 200 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Стоматологии, клиники</p>
          </div>
        </div>

        <div class="desigion__card">
          <div class="desigion__card-top desigion__card-img-8">
            <div class="card-top__price">
              <p class="card-top__price-text">от 100 000 ₽</p>
            </div>
          </div>
          <div class="desigion__card-bottom">
            <p class="desigion__type-text">Салоны красоты, СПА</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>