<!-- Main-block -->

<section>
  <div class="page__wrapper">
    <div class="main__block">
      <div class="header__main-block">
        <a class="header__logo" href="index.html">
          <img class="logo__img" src="assets/img/header_logo.svg" alt="logo">
        </a>
        <nav class="header__main-nav">
          <ul>
            <li><a href="#services">услуги</a></li>
            <li><a href="#price">наши цены</a></li>
            <li><a href="#about">о нас</a></li>
            <li><a href="#seasons">польза продукта</a></li>
            <li><a href="#portfolio">оборудование</a></li>
            <li><a href="#work-system">этапы работы</a></li>
            <li><a href="#clients">отзывы</a></li>
          </ul>
        </nav>
        <div class="header__btn-box">
          <button class="btn btn__header" href="">связаться</button>
        </div>
      </div>
      <div class="container">
        <div class="info__main-block">
          <h1>Чистый Воздух <div class="info__decor-line decor__line "></div>
            <span>Вместе С </span>
            <span class="info__company-name"> pascal vent</span>
          </h1>
          <div class="info__subtitle">
            <div class="info__circle-block">
              <div class="circle__decor info__circle-left">
                <div class="circle__inner"></div>
                <div class="circle__content"></div>
              </div>
              <div class="circle__decor info__circle-center">
                <div class="circle__inner"></div>
                <div class="circle__content"></div>
              </div>
              <div class="circle__decor info__circle-right">
                <div class="circle__inner"></div>
                <div class="circle__content"></div>
              </div>
            </div>
            <p class="info__subtitle-text">Проектирование, поставка и монтаж систем вентиляции и кондиционирования</p>
          </div>
          <div class="main__contacts">
            <p class="main__region-text">Московский регион, Москва</p>
            <div class="main__contacts-phone">
              <a href="tel:+74923736331">
                <div class="main__phone-text">+ 7 492 373 63 31</div>
              </a>
              <a href="tel:+74243678929">
                <div class="main__phone-text">+ 7 424 367 89 29</div>
              </a>
            </div>
          </div>
          <div class="main__btn-box">
            <button class="main__btn btn ">оставить заявку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>