<!-- Portfolio block -->

<section>
  <div class="container">
    <div class="portfolio__block" id="portfolio">
      <div class="portfolio__text-box">
        <h2 class="portfolio__title">Портфолио И
          Процесс работы</h2>
        <p class="portfolio__text">Технические решения, принятые в рабочих чертежах, соответствуют требованиям
          экологических,
          санитарно-гигиенических, противопожарных и других норм и правил, и обеспечивают безопасную для жизни людей
          эксплуатацию объекта при соблюдении предусмотренных рабочими чертежами мероприятий.</p>
      </div>
    </div>
  </div>
  <div class="portfolio__slider-block">
    <div class="portfolio__card portfolio__card-img-1">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">приточная вентиляция</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>

    <div class="portfolio__card portfolio__card-img-2">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">приточная вентиляция</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>

    <div class="portfolio__card portfolio__card-img-3">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">Канальные кондиционеры</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>

    <div class="portfolio__card portfolio__card-img-4">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">Канальные кондиционеры</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>

    <div class="portfolio__card portfolio__card-img-4">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">Канальные кондиционеры</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>

    <div class="portfolio__card portfolio__card-img-4">
      <img class="portfolio__card-label" src="assets/img/portfolio/card-logo.svg" alt="логотип">
      <h4 class="portfolio__card-title">Канальные кондиционеры</h4>
      <p class="portfolio__card-text">Монтаж приточной вентиляции (объект в Прайм Парк)</p>
    </div>
  </div>
</section>