<!-- Main-block -->

<section>
  <div class="page__wrapper">
    <div class="services__block" id="services">

      <div class="services__description">
        <div class="services__description-title">
          <h2>Предоставляемые</h2>
          <h2>Услуги</h2>
          <div class="services__decor-line decor__line"></div>
        </div>
        <div class="description__text">
          <p>При разработке проекта предложим техническое решение оптимальное по соотношению цены и качества, оно
            идеально
            впишется в ваш дизайн, а также будет учитывать все ваши пожелания.</p>
          <p>Монтаж выполняется опытными бригадами с соблюдением всех действующих технических норм, правил безопасности
            и
            строго по согласованному проекту.</p>
          <p>Одинаково эффективно выполняем проектирование и монтаж на объектах любой сложности – от небольшой квартиры,
            до объектов со сложными технологическими процессами на основе действующей нормативной документации.</p>
        </div>
      </div>

      <div class="services__tabs-wrapper">
        <div class="services__tabs-inner">
          <div class="tabs services__tabs">
            <a class="tab conditioner__tab" href="#air-conditionier__tab">Кондиционирование</a>
            <a class="tab vent-sistem__tab tab--active" href="#ventilation__tab">Система Вентиляции</a>
          </div>
        </div>


        <div class="tabs-conteiner">
          <div class="tabs-content ventilation__block tabs-content--active" id="ventilation__tab">
            <div class="ventilation__card">
              <div class="card__list">
                <ul>
                  <li class="ventilation__card-list-1">Проектирование систем вентиляции любой сложности</li>
                  <li class="ventilation__card-list-2">Монтаж приточной вентиляции</li>
                  <li class="ventilation__card-list-3">Монтаж вытяжной вентиляции</li>
                  <li class="ventilation__card-list-4">Монтаж вентиляции с увлажнением воздуха</li>
                  <li class="ventilation__card-list-5">Монтаж вентиляции с рекуператором</li>
                  <li class="ventilation__card-list-6">Монтаж вентиляции
                    с осушением для бассейна</li>
                </ul>
              </div>
              <div class="ventilation__card-photo">
                <img src="assets/img/services/vent-img.png" alt="Фото - ремонт вентиляции">
              </div>
            </div>
          </div>

          <div class="tabs-content air-conditionier__block" id="air-conditionier__tab">
            <div class="air-conditionier__card">
              <div class="card__list">
                <ul>
                  <li class="air-conditionier__card-list-1">Проектирование систем кондиционирования</li>
                  <li class="air-conditionier__card-list-2">Монтаж сплит-систем</li>
                  <li class="air-conditionier__card-list-3">Монтаж мульти сплит-систем</li>
                  <li class="air-conditionier__card-list-4">Монтаж VRV и VRF систем</li>
                  <li class="air-conditionier__card-list-5">Монтаж фанкойлов</li>
                  <li class="air-conditionier__card-list-6">Монтаж настенных, канальных и кассетных кондиционеров</li>
                </ul>
              </div>
              <div class="air-conditionier__card-photo">
                <img src="assets/img/services/cond-img.png" alt="Фото - кондиционер">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>