<section>
  <div class="container">
    <div class="work-system__block" id="work-system">
      <h2 class="work-system__title">Понятная и эффективная схема работы</h2>
      <ul class="work-system__stages">
        <li class="work-system__stage-1">
          <h3>Получение заявки</h3>
          <p>Заполните форму, укажите свои данные и отправьте нашим менеджерам в обработку</p>
        </li>
        <li class="work-system__stage-2">
          <h3>Консультация</h3>
          <p>После обработки Вашей заявки, мы связываемся с Вами, выявляем потребности и пожелания, а также проводим
            техническую консультацию</p>
        </li>
        <li class="work-system__stage-3">
          <h3>Выезд на объект</h3>
          <p>В назначенное время мы выезжаем на объект и согласовываем основные технические решения, обсуждаем
            техническое задание</p>
        </li>
        <li class="work-system__stage-4">
          <h3>Составляем График</h3>
          <p>На этом этапе мы составляем коммерческое предложение и занимаемся согласованием графика работ
            (проектирования, закупки оборудования и монтажа).</p>
        </li>
        <li class="work-system__stage-5">
          <h3>договор</h3>
          <p>Мы заключаем с Вами договор и начинаем проектирование и согласование проекта</p>
        </li>
        <li class="work-system__stage-6">
          <h3>Поставка и монтаж</h3>
          <p>На этом этапе, происходит поставка всех материалов и начинается выполнение монтажных работ</p>
        </li>
        <li class="work-system__stage-7">
          <h3>Подписание акта выполненных работ</h3>
        </li>

      </ul>

    </div>
  </div>
</section>