<!-- 05/ Projects (popup idealist project)-->

<section>
  <div class="popup__projects-wrapper">
    <div class="popup__idealist js-form">
      <div class="close-btn"></div>
      <h2 class="popup__idealist-title">Project «Idealist»</h2>
      <div class="popup__idealist-title-info">
        <p class="popup__idealist-info-text">Developer: <span>Eurostroy</span></p>
        <p class="popup__idealist-info-text">Period: <span>2022</span></p>
      </div>

      <div class="popup__idealist-block">
          <div class="popup__idealist-text-block">
            <h3 class="popup__idealist-subtitle">The Idealist Club House is located in the historical center of St. Petersburg, between the embankment of the Obvodny Canal and Moskovsky Prospekt.</h3>
            <h4 class="popup__idealist-stages-title">Stage of participation:</h4>
            <ol class="popup__idealist-stages-inner">
              <li class="popup__idealist-stages-text">Development of the concept of integrated landscaping of the house and courtyard territory;</li>
              <li class="popup__idealist-stages-text">Development of "Working documentation" for the architectural concept of the project. The set of working documentation consists of the following drawings:
                <ul class="popup__idealist-text-list">
                  <li>general data;</li>
                  <li>situational plan;</li>
                  <li>the scheme of the planning organization of the land plot;</li>
                  <li>dendrological plan;</li>
                  <li>plan of small architectural forms with explication of landscaping elements;</li>
                  <li>drawing of the vertical layout of the landscaping object;</li>
                  <li>center plan;</li>
                  <li>landing plan;</li>
                  <li>coverage plan;</li>
                  <li>tile layout schemes;</li>
                  <li>structural sections of coatings.</li>
                </ul> 
              </li>
            </ol>
          </div>
          <div class="popup__idealist-images-block">
            <div class="popup__idealist-image-top"></div>
            <div class="popup__idealist-image-bottom"></div>
          </div>
        </div>
    </div>
  </div>
</section>