<!-- 04/ Cases(popup saving case)-->

<section>
  <div class="popup__cases-wrapper">
    <div class="popup__saving js-form">
      <div class="close-btn"></div>
      <h2 class="popup__main-title">A case about saving on displaced soils for LSR</h2>
      <div class="popup__inner-block">
        <div class="popup-designing__main-info">

          <div class="popup__main-block">
            <h3 class="popup__main-subtitle">Large scale development of the territory is always a big financial burden for the developer.</h3>
            <p class="popup__main-text popup-saving__text-tab">One of the nonobviousness but effective ways to save money without loss of quality is to adjust the directive marks at the stage of engineering preparation of the territory.</p>
            <p class="popup__main-text popup-saving__text-tab">Rough vertical layout with incorrect directive marks a few centimeters above the existing relief leads to an increase in the developer's costs.
            <p class="popup__main-text popup-saving__text-tab">Correction of directive marks at the stage of engineering preparation of the territory is you know how which saves up to 70% of customers' funds on the removal of earth masses.</p> 
          </div>

          <div class="popup__additional-block popup-saving__additional-block">
            <div>
              <p class="popup__additional-text popup-saving__additional-text">
                We were the general contractor of the LSR holding during the engineering preparation of the territory of the former Rzhevka airport (territory of 160 hectares) and offered the developer a new approach to integrated design in terms of adjusting the directive marks. The developer gave the go-ahead.
              </p>
            </div>
            <div>
              <p class="popup__additional-text popup-saving__additional-text">
                As a result of the adjustment, the total volume of exported soil was reduced by 700,000 m3, which saved the developer about 203 million rubles.
              </p>
            </div>
            <div>
              <p class="popup__additional-text popup-saving__additional-text">
                For which projects is it relevant?
              </p>
              <ul class="popup__additional-list popup-saving__additional-text">
                <li class="popup__list-text">district-scale</li>
                <li class="popup__list-text">development quarterly development</li>
                <li class="popup__list-text">terminal and production arrays</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>