<!-- 02/ Area of work (Popup landscape)-->

<section>
  <div class="popup__area-wrapper">
    <div class="popup__landscape js-form">
      <div class="close-btn"></div>
      <h2 class="popup__main-title">Landscape design</h2>
      <div class="popup__inner-block">
        <div class="popup__main-info">
          <h3 class="popup__main-subtitle landscape__subtitle--tab">One of the activities of our company is the development of urban landscape architecture projects.</h3>
          <div class="popup__main-text">
            <p>These can be both landscape concepts and working documentation based on concepts previously created by other contractors.
            </p>
            <p>Each of our projects combines the accumulated experience, the latest trends in the field of landscape design, as well as the wishes of the customer on stylistics, small architectural forms and landscaping.</p>
          </div>
        </div>
        <div class="popup__additional-info">
          <div>
            <p class="popup__additional-text">
              Concept development: selection of the style of the project, development of an improvement plan, placement of small architectural forms and preparation of visualizations.
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Development of working drawings taking into account GOST 21.508-93.
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Author's supervision. At this stage, we control the quality of materials and the implementation of engineering solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

