<!-- 05/ Projects (popup urban project)-->

<section>
  <div class="popup__projects-wrapper">
    <div class="popup__urban js-form">
      <div class="close-btn"></div>
      <h2 class="popup__urban-title">Project «Urban retreat»</h2>
      <div class="popup__urban-title-info">
        <p class="popup__urban-info-text">Developer: <span>CityScape Properties</span></p>
        <p class="popup__urban-info-text">Period: <span>2022</span></p>
      </div>

      <div class="popup__urban-block">
          <div class="popup__urban-text-block">
            <h3 class="popup__urban-subtitle">Urban Retreat is a modern residential complex located in the heart of a bustling city, providing residents with a tranquil oasis amidst the urban landscape.</h3>
            <h4 class="popup__urban-stages-title">Stage of participation:</h4>
            <ol class="popup__urban-stages-inner">
              <li class="popup__urban-stages-text">Development of the concept of integrated landscaping of the house and courtyard territory;</li>
              <li class="popup__urban-stages-text">Development of "Working documentation" for the architectural concept of the project. The set of working documentation consists of the following drawings:
                <ul class="popup__urban-text-list">
                  <li>general data;</li>
                  <li>situational plan;</li>
                  <li>the scheme of the planning organization of the land plot;</li>
                  <li>dendrological plan;</li>
                  <li>plan of small architectural forms with explication of landscaping elements;</li>
                  <li>drawing of the vertical layout of the landscaping object;</li>
                  <li>center plan;</li>
                  <li>landing plan;</li>
                  <li>coverage plan;</li>
                  <li>tile layout schemes;</li>
                  <li>structural sections of coatings.</li>
                </ul> 
              </li>
            </ol>
          </div>
          <div class="popup__urban-images-block">
            <div class="popup__urban-image-top"></div>
            <div class="popup__urban-image-bottom"></div>
          </div>
        </div>
    </div>
  </div>
</section>