/* ooter */

.footer__inner {
  display: grid;

  margin-bottom: 25px;

  border: 1px dashed #9b9b9b;

  grid-template-columns: 40% 20% 40%;
}

.footer__logo-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 15px;
}

.logo__img {
  width: 131px;
  height: 34px;

  background-image: url(../img/header-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.footer__copyright {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;

  text-align: left;

  color: #ffffff;
}

.footer__copyright-mob {
  display: none;
}

.footer__nav ul {
  padding: 20px 25px;

  border-right: 1px dashed #9b9b9b;
  border-left: 1px dashed #9b9b9b;

  & li {
    margin-bottom: 10px;

    a {
      font-family: "Inter";
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      line-height: 17px;

      flex-wrap: nowrap;

      letter-spacing: -0.01em;
      text-transform: uppercase;

      color: #ffffff;

      &:hover {
        transition: color .5s ease;

        color: $color-decor;
      }
    }
  }

  & li:nth-child(8) {
    margin-bottom: 0px;
  }
}

.footer__contact-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 25px;
}

.footer__address,
.footer__phone,
.footer__mail {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;

  position: relative;

  padding-bottom: 10px;
  padding-left: 23px;

  cursor: pointer;

  color: #ffffff;

  &:hover {
    transition: color .5s ease;

    color: $color-decor;
  }
}

.footer__address::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 20px;

  content: "";

  background-image: url(../img/footer-location-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__phone::before {
  position: absolute;
  top: 3px;
  left: 0;

  width: 16px;
  height: 15px;

  content: "";

  background-image: url(../img/footer-phone-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__mail::before {
  position: absolute;
  top: 6px;
  left: 0;

  width: 16px;
  height: 12px;

  content: "";

  background-image: url(../img/footer-mail-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__social-block a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;

  display: inline-flex;

  padding-right: 10px;

  text-transform: uppercase;

  color: #ffffff;

  &:hover {
    transition: color .5s ease;

    color: $color-decor;
  }
}

.footer__bottom {
  background-color: #2a2a2a;
}

/*
.footer__location-map {
  position: absolute;
  top: -500px;
  left: 0;

  display: none;
}

.footer__location-map iframe {
  width: 29.17vw;
  height: 20.83vw;
}
*/
