/* Main block */

.main-page__wrapper {
  position: relative;
}

.main__inner {
  display: flex;
  justify-content: space-between;

  padding-bottom: rem(23);
}

.main__title {
  font-family: "Akrobat";
  font-size: rem(65);
  font-weight: 700;
  font-style: normal;
  line-height: rem(65);

  display: inline-block;

  max-width: 790px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  span {
    display: block;
  }
}

.main__img {
  max-width: rem(1400);
  height: rem(386);
  margin-bottom: rem(113);

  background-image: url(../img/main-img.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-info__wrapper {
  position: relative;
}

.btn__main {
  display: none;
}
