<!-- About block-->

<section>
  <div class="about__inner">
    <div class="container__part-info">
      <p class="title__block-num">01/ about</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block">The «GeneralPlan» company is a specialized company
        established in
        2012. The uniqueness
        of our company lies
        in the experience of our engineers specializing in the development of project documentation</h2>
    </div>
  </div>
</section>