<!-- Area of work - block-->

<section>
  <div class="area__inner">
    <div class="container__part-info">
      <p class="area__block-num">02/ area of work</p>
    </div>
    <div class="container__main-info">
      <div class="work__area">
        <ul>
          <li>
            <div>
              <h3 class="work__area-title area-title__landscape">Landscape design</h3>
              <p class="work__area-description">One of the activities of our company is the development of urban
                landscape
                architecture projects.</p>
            </div>
            <a class="work__area-link" href="#popup">Learn more</a>
          </li>
          <li>
            <div>
              <h3 class="work__area-title area-title__general-plan">general plan</h3>
              <p class="work__area-description">The general plan is an integral part of each project, on the basis of
                which
                planning, construction, reconstruction and other types of urban development of territories are carried
                out.
              </p>
            </div>
            <a class="work__area-link" href="#popup">Learn more</a>
          </li>
          <li>
            <div>
              <h3 class="work__area-title">Design of external engineering networks</h3>
              <p class="work__area-description area-title__external-system">The design of external engineering networks
                is
                a key stage in the construction of residential and non—residential facilities.</p>
            </div>
            <a class="work__area-link" href="#popup">Learn more</a>
          </li>
        </ul>
      </div>
      <a class="btn btn__area" href="#contacts">discuss the project</a>
    </div>
  </div>
</section>