<!-- benefit block-->

<section>
  <div class="benefit__inner">
    <div class="container__part-info">
      <p class="title__block-num">03/ benefit</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block title__area">We develop projects of various scales and purposes: from a
        transformer
        substation to a residential area</h2>

      <div class="benefit__area-block">
        <div class="collab">
          <p class="benefit__text benefit__text-area">transformer substation</p>
          <p class="benefit__text-num">1/100<span>ha</span></p>
        </div>
        <div>
          <p class="benefit__text benefit__text-area">quarter to</p>
          <p class="benefit__text-num">20<span>ha</span></p>
        </div>
        <div></div>
        <div></div>
        <div>
          <p class="benefit__text benefit__text-area">plot from</p>
          <p class="benefit__text-num">2,5<span>ha</span></p>
        </div>
        <div class="collab">
          <p class="benefit__text benefit__text-area">area ≈</p>
          <p class="benefit__text-num">160<span>ha</span></p>
        </div>
      </div>

      <h2 class="title__block title__people">we have assembled a team of real professionals who
        know and love their
        work</h2>

      <div class="benefit__people-block">
        <div>
          <p class="benefit__text-num">2</p>
          <p class="benefit__text benefit__text-people">landscape architects</p>
        </div>
        <div>
          <p class="benefit__text-num">20</p>
          <p class="benefit__text benefit__text-people">specialized engineers</p>
        </div>
        <div>
          <p class="benefit__text-num">5</p>
          <p class="benefit__text benefit__text-people">general planners</p>
        </div>
        <div>
          <p class="benefit__text-num">4</p>
          <p class="benefit__text benefit__text-people">HYPa</p>
        </div>
      </div>
    </div>
  </div>
</section>