<!-- Contact-form block-->

<section>
  <div class="contact-form__inner">
    <div class="container__part-info">
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block contact-form__title">Leave a request for the development of the project and
        we will contact you
      </h2>

      <form class="contact-form" action="#" method="post">
        <div class="contact-form__input-fields">
          <div class="form__personal-data">
            <legend class="legend__person-name">First name, Last Name <span>*</span></legend>
            <input class="form__person-name" type="text" placeholder="Your name">
            <input class="form__person-phone" type="tel" name="phone" required placeholder="Telephone">
            <input class="form__person-email" type="email" placeholder="Email">
          </div>
          <div class="form__personal-message">
            <textarea class="form__person-text" placeholder="I want to order a project"></textarea>
          </div>
        </div>

        <div class="contact-form__footer">
          <input class="btn application-btn" value="submit" type="submit" disabled="">
          <div class="conteiner-checkbox">
            <input class="application-checkbox" required="" type="checkbox" id="form">
            <label for="form"></label>
            <p class="checkbox-text">By clicking the "Submit" button, you agree to the <a href=""><span>Privacy
                  Policy</span></a> of Personal Data Processing</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>