<!-- Footer block -->

<footer>
  <div class="footer__inner">
    <div class="footer__logo-block">
      <a href="index.html">
        <div class="logo__img"></div>
      </a>
      <p class="footer__copyright">© 2007–2023 GeneralPlan</p>
    </div>
    <nav class="footer__nav">
      <ul>
        <li><a href="#about">about</a></li>
        <li><a href="#workarea">area of work</a></li>
        <li><a href="#benefit">benefit</a></li>
        <li><a href="#cases">cases</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#reviews">reviews</a></li>
        <li><a href="#customers">customers</a></li>
        <li><a href="#contacts">contact us</a></li>
      </ul>
    </nav>
    <div class="footer__contact-block">
      <ul>
        <li class="footer__address">
          <p>St. Petersburg, Pulkovskoe highway, 30, room 4</p>
        </li>
        <li>
          <a href="tel:88003021976">
            <div class="footer__phone">8 800 302 19 76</div>
          </a>
        </li>
        <li>
          <a href="mailto:contact@genplan.ooo">
            <p class="footer__mail" lang="en">contact@genplan.ooo</p>
          </a>
        </li>
      </ul>
      <div class="footer__social-block">
        <a href="">
          <p class="footer__social">telegram</p>
        </a>
        <a href="">
          <p class="footer__social">behance</p>
        </a>
      </div>
      <p class="footer__copyright-mob">© 2007–2023 GeneralPlan</p>
    </div>
  </div>
  <div>.</div>
</footer>