<!-- Header -->

<header>
  <div class="header__inner">
    <div class="container__part-info">
      <a href="index.html">
        <div class="logo__img"></div>
      </a>
    </div>
    <div class="container__main-info">
      <div class="header__main-content">
        <nav class="header__nav">
          <ul>
            <li><a href="#about">about</a></li>
            <li><a href="#workarea">area of work</a></li>
            <li><a href="#benefit">benefit</a></li>
            <li><a href="#cases">cases</a></li>
            <li><a href="#projects">projects</a></li>
            <li><a href="#reviews">reviews</a></li>
            <li><a href="#customers">customers</a></li>
            <li><a href="#contacts">contact us</a></li>
          </ul>
        </nav>
        <a class="btn btn__header" href="#contacts">discuss the project</a>
      </div>
      <div class="menu__btn">
        <div class="menu__btn-line"></div>
        <div class="menu__btn-line"></div>
        <div class="menu__btn-line"></div>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
  <ul class="menu-mobile__list">
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#about">
        about
      </a>
    </li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#workarea">
        area of work
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#benefit">
        benefit
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#cases">
        cases
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#projects">
        projects
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#reviews">
        reviews
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#customers">
        customers
      </a></li>
    <li class="menu-mobile__item"><a class="menu-mobile__link" href="#contacts">
        contact us
      </a></li>
  </ul>
</header>