<!-- projects block-->

<section id="projects">
  <div class="projects__inner projects__inner-tabs">
    <div class="container__part-info">
      <p class="title__block-num">05/ projects</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block title__projects">We work in the market of Moscow, St. Petersburg and other
        regions of Russia. We have developed more than 1000 projects</h2>
    </div>
  </div>
  <div class="projects__tabs-wrapper">
    <div class="projects__tabs-inner">
      <div class="tabs projects__tabs">
        <a class="tab tab--active" href="#landscape-tab">landscape</a>
        <a class="tab" href="#outdoor-tab">outdoor networks</a>
        <a class="tab" href="#general-tab">general plan</a>
      </div>
    </div>
  </div>  
  <div class="tabs-conteiner">
    <div class="tabs-content tabs-content--active" id="landscape-tab">
      <div class="landscape__block">
        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Yanino»
              </h3>
              <p class="project__case-description">Yanino Drive is a comfortable modern residential quarter in the
                Vsevolozhsky district of the Leningrad region.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="landscape__yanino-main-img project__img-link" href="#!"></a>
        </div>

        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Idealist»
              </h3>
              <p class="project__case-description">The Idealist Club House is located in the historical center of St. Petersburg, between the embankment of the Obvodny Canal and Moskovsky Prospekt.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="landscape__idealist-main-img project__img-link" href="#!"></a>
        </div>
      </div>
    </div>

    <div class="tabs-content" id="outdoor-tab">
      <div class="outdoor__block">
        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Mountain view estates»
              </h3>
              <p class="project__case-description">Mountain View Estates is a contemporary and luxurious residential community nestled in the scenic hills of the Cascade Valley, offering breathtaking views and serene surroundings.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="outdoor__mountain-main-img project__img-link" href="#!"></a>
        </div>
        
        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Riverbank residences»
              </h3>
              <p class="project__case-description">Riverbank Residences is an elegant and modern residential complex situated along the tranquil banks of the Riverdale River, offering residents a serene waterfront living experience.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="outdoor__riverbank-main-img project__img-link" href="#!"></a>
        </div>
      </div>
    </div>

    <div class="tabs-content" id="general-tab">
      <div class="generalplan__block">
        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Harmony Grove»
              </h3>
              <p class="project__case-description">Yanino Drive is a comfortable modern residential quarter in the
                Vsevolozhsky district of the Leningrad region.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="generalplan__harmony-main-img project__img-link" href="#!"></a>
        </div>
        
        <div class="project">
          <div class="project__text-block">
            <div>
              <h3 class="project__case-title">Project «Urban retreat»
              </h3>
              <p class="project__case-description">Urban Retreat is a modern residential complex located in the heart of a bustling city, providing residents with a tranquil oasis amidst the urban landscape.</p>
            </div>
            <button class="project__popup-btn">Learn more</button>
          </div>
          <a class="generalplan__urban-main-img project__img-link" href="#!"></a>
        </div>
      </div>
    </div>

    <a class="btn btn__cases" href="#contacts">discuss the project<a>
  </div>
</section>
