<!-- reviews block-->

<section>
  <div class="reviews__inner">
    <div class="container__part-info">
      <p class="title__block-num">06/ reviews</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block reviews__title">our company has gained a good reputation among its customers
      </h2>

      <div class="reviews__cases">
        <ul>
          <li>
            <p class="reviews__text">In the Rzhevka project, as a result of the integrated approach applied by
              the «GeneralPlan»company to the engineering preparation of the territory, it was possible to reduce the
              cost of the customer's funds for the removal of soil by 70%.</p>
            <p class="reviews__text-signature">LSR Group</p>
          </li>

          <li>
            <p class="reviews__text">We express our gratitude to «GeneralPlan» for fruitful work in the field of
              designing sections «GeneralPlan» and «Drainage». During our cooperation with Planeta General Plan LLC,
              many projects have been implemented.</p>
            <p class="reviews__text-signature">Architectural studio «Studio 44»</p>
          </li>

          <li>
            <p class="reviews__text">«GeneralPlan» has been our reliable and long-term partner for more than 10 years.
              During the cooperation, the General Plan company has been involved in many important projects for our
              bureau.</p>
            <p class="reviews__text-signature">Architectural studio «B2»</p>
          </li>

          <li>
            <p class="reviews__text">«GeneralPlan» has been our partner since 2017, providing a full range of design
              services. Thanks to the professionalism of the company's employees, all projects were developed
              efficiently and in the shortest possible time.</p>
            <p class="reviews__text-signature">CDR</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>