<!-- additional-products -->

<section class="products page-section">
  <div class="container">
    <div class="products__inner">
      <h3 class="product__title">С этими товарами покупают</h3>
      <div class="tabs-wrapper">
        <div class="tabs products__tabs mobile-overflow">
          <a class="tab products__tab tab--active" href="#popular-tab-1">запчасти</a>
          <a class="tab products__tab" href="#popular-tab-2">моторы</a>
          <a class="tab products__tab" href="#popular-tab-3">шины</a>
          <a class="tab products__tab" href="#popular-tab-4">электроника</a>
          <a class="tab products__tab" href="#popular-tab-5">инструменты</a>
          <a class="tab products__tab" href="#popular-tab-6">аксессуары</a>
        </div>
      </div>
      <div class="tabs-conteiner products__container">
        <div class="tabs-content products__content tabs-content--active" id="popular-tab-1">
          <div class="product-slider">

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper product-item__not-available">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/add-product-1.png" alt="">
                  <h4 class="product-item__title">
                    BRP Audio-портативная система
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/add-product-2.png" alt="">
                  <h4 class="product-item__title">
                    Garmin Echomap Plus 62cv
                  </h4>
                  <p class="price product-item__price">
                    45 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper product-item__not-available">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <a class="product-item" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/add-product-3.png" alt="">
                  <h4 class="product-item__title">
                    RF D.E.S.S.TM Key
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <a class="product-item" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/add-product-4.png" alt="">
                  <h4 class="product-item__title">
                    Мужской костюм 3мм
                  </h4>
                  <p class="price product-item__price">
                    7 000 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/add-product-5.webp" alt="">
                  <h4 class="product-item__title">
                    Мотогарнитура SENA 20S EVO
                  </h4>
                  <p class="price product-item__price">
                    29 900 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="tabs-content products__content" id="popular-tab-2">
          <div class="product-slider">

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/product-1.png" alt="">
                  <h4 class="product-item__title">
                    Водонепроницаемый Рюкзак
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/product-1.png" alt="">
                  <h4 class="product-item__title">
                    Водонепроницаемый Рюкзак
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper product-item__not-available">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/product-1.png" alt="">
                  <h4 class="product-item__title">
                    Водонепроницаемый Рюкзак
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/product-1.png" alt="">
                  <h4 class="product-item__title">
                    Водонепроницаемый Рюкзак
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>

            <div class="product-slider__item">
              <!--add "product-item__not-available" to "product-item__wrapper" for activate not-available on card-->
              <div class="product-item__wrapper">
                <button class="product-item__favorite"></button>
                <button class="product-item__basket">
                  <img src="assets/img/main/products/icons/basket-white.svg" alt="кнопка добавить в корзину">
                </button>
                <a href="#!" class="product-item__notify-link"><span>Сообщить о поступлении</span></a>
                <!--add "product-item--sale" to "product-item" for activate sale banner on card-->
                <a class="product-item product-item--sale" href="">
                  <p class="product-item__hover-text">посмотреть товар</p>
                  <img class="products-item__img" src="assets/img/main/products/img/product-1.png" alt="">
                  <h4 class="product-item__title">
                    Водонепроницаемый Рюкзак
                  </h4>
                  <p class="price product-item__price">
                    9 800 ₽
                  </p>
                  <p class="product-item__notify-text">
                    нет в наличии
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-content products__content" id="popular-tab-3">slider-3</div>
        <div class="tabs-content products__content" id="popular-tab-4">slider-4</div>
        <div class="tabs-content products__content" id="popular-tab-5">slider-5</div>
        <div class="tabs-content products__content" id="popular-tab-6">slider-6</div>
      </div>
    </div>
  </div>
</section>