<!-- header top -->

<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header_top-inner">
        <nav class="menu">
          <div class="menu__btn">
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
          </div>
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#!">
                Магазины
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">
                Акции
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">
                Доставка и оплата
              </a>
            </li>
          </ul>
        </nav>
        <a class="logo" href="index.html">
          <img class="logo__img" src="assets/img/header/logo.svg" alt="logo">
        </a>
        <div class="header__box">
          <div class="header__address">
            <p>Москва, ул. Фрунзе 10</p>
          </div>
          <ul class="user-list">
            <li class="user-list__item">
              <a class="user-list__link" href="#!">
                <img src="assets/img/header/heart.svg" alt="иконка избранное в виде сердца">
              </a>
            </li>
            <li class="user-list__item">
              <a class="user-list__link" href="#!">
                <img src="assets/img/header/user.svg" alt="иконка юзер">
              </a>
            </li>

            <li class="user-list__item">
              <a class="user-list__link basket" href="#!">
                <img src="assets/img/header/basket.svg" alt="иконка корзина">
                <p class="basket__num">1</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile menu -->

  <ul class="menu-mobile__list">
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/user.svg" alt="иконка пользователь">
        <p>Войти</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/user.svg" alt="иконка пользователь">
        <p>Регистрация</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/heart.svg" alt="иконка сердце">
        <p>Избранное</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/basket.svg" alt="иконка корзина">
        <p>Корзина</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/house.svg" alt="Иконка здание">
        <p>Магазины</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/persent.svg" alt="иконка проценты">
        <p>Акции</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <img class="menu-mobile__img" src="assets/img/header/box.svg" alt="иконка коробка">
        <p>Доставка и оплата</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Квадроциклы</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Катера</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Гидроциклы</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Лодки</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Вездеходы</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Снегоходы</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Двигатели</p>
      </a>
    </li>
    <li class="menu-mobile__item">
      <a class="menu-mobile__link" href="#!">
        <p>Запчасти</p>
      </a>
    </li>
  </ul>

  <!-- Mobile-header-bottom -->
  <div class="menu__mobile-linewrapper">
    <ul class="menu__mobile-line">
      <li class="menu__item">
        <a class="menu__link" href="#!">
          Магазины
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">
          Акции
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">
          Доставка и оплата
        </a>
      </li>
    </ul>
  </div>

  <!-- header bottom -->

  <div class="header__bottom">
    <div class="container">
      <ul class="menu-categories">
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Квадроциклы</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Катера</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Гидроциклы</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Лодки</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Вездеходы</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Снегоходы</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Двигатели</a>
        </li>
        <li class="menu-categories__item">
          <a class="menu-categories__link" href="catalog-gidrobikes.html">Запчасти</a>
        </li>
      </ul>
    </div>
  </div>
</header>