<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta content="width=1140" name="viewport" id="viewport">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no"> -->

<title>{{ title }}</title>

<!-- FONTS -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Manrope:wght@300;400;500;600;700;800&display=swap"
  rel="stylesheet">

<!-- SLICK.SLIDER -->

<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" /> -->

<!-- RANGE.SLIDER -->

<!--Plugin CSS file with desired skin-->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />


<!-- JQUERY FORM STYLE -->

<!-- <link href="
https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.css
" rel="stylesheet"> -->

<link href="assets/css/jquery.formstyler.css" rel="stylesheet" />
<link href="assets/css/jquery.formstyler.theme.css" rel="stylesheet" />


<!-- RATE Yo (stars rate) -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

<!-- MY CSS -->
<link rel="stylesheet" href="assets/css/style.min.css">