/* About page */

.about__main-info {
  display: flex;

  padding-left: rem(100);

  gap: rem(20);
}

.about__info {
  min-width: rem(490);
  margin-bottom: rem(100);
  padding: rem(100) rem( 70) rem( 70);

  border: 2px solid;
  border-image: linear-gradient(rgba( 255, 255, 255, 0.0) 25%, rgba( 255, 255, 255, 0.1) 30.75%, rgba( 255, 255, 255, 1) 100%);
  border-image-slice: 1;
}

.about__star {
  position: relative;

  width: rem(7);
  height: rem(7);
  margin-top: rem(93);
  margin-left: rem(175);

  border: none;
  border-radius: 50%;
  background-color: #FEFFD0;
}

.about__star:before {
  position: absolute;
  top: rem(-13);
  left: rem(-12);

  width: rem(32);
  height: rem(32);

  content: "";

  border-radius: 50%;
  background-color: #FEFFD0;

  filter: blur(rem( 15) );
}

.about__title {
  font-family: Montserrat;
  font-size: rem(49);
  font-weight: 300;
  font-style: normal;
  line-height: normal;

  margin-bottom: rem(90);

  text-transform: uppercase;

  color: #4D453A;
}

.about__description {
  font-family: Montserrat;
  font-size: rem(18);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  max-width: rem(346);
  margin-bottom: rem(20);

  color: #FFF;
}

.about__img-block {
  display: grid;
  justify-content: center;

  margin-top: 93px;

  grid-template-columns: repeat(2, rem( 100) );
  grid-template-rows: repeat(2, rem( 100) );
  row-gap: rem(45);
  column-gap: rem(40);
}

.nft-frame {
  position: absolute;
  top: rem(-155);
  left: rem(35);
}

.about__nft-text {
  position: relative;

  max-width: rem(534);
  margin-left: rem(46);

  background: linear-gradient(360deg, #524A3E 0%, rgba( 82, 74, 62, 0.00) 100%);
}

.about__nft-title {
  font-family: Montserrat;
  font-size: rem(158);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  padding-right: rem(35);

  text-align: right;
  text-transform: uppercase;

  background: linear-gradient(180deg, #FFF 0%, rgba( 255, 255, 255, 0.00) 87.40%);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.about__nft-description {
  font-family: Montserrat;
  font-size: rem(18);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  max-width: rem(402);
  margin-top: rem(30);
  margin-left: rem(61);
  padding-bottom: rem(43);

  color: #000;
}

.mission__title {
  font-family: Raleway;
  font-size: rem(36);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  max-width: rem(568);
  margin: 0 auto;
  padding: rem(16) 0;

  text-align: center;

  color: #FFF;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba( 255, 255, 255, 0.00) 0%, #FFF 50%, rgba( 255, 255, 255, 0.00) 100%);
  border-image-slice: 1;
}

.mission__points {
  display: flex;
  justify-content: center;

  padding-top: rem(80);
  padding-bottom: rem(160);

  gap: rem(150);
}

.mission__save {
  text-align: center;
}

.mission__support {
  text-align: center;
}

.mission__save-text {
  font-family: Montserrat;
  font-size: rem(18);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  max-width: rem(302);
  margin-top: rem(40);

  text-align: center;

  color: #FFF;
}

.mission__support-text {
  font-family: Montserrat;
  font-size: rem(18);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  max-width: rem(143);
  margin-top: rem(44);

  text-align: center;

  color: #FFF;
}

.about__goal-block {
  margin-bottom: rem(117);
}

.goal__title {
  font-family: Raleway;
  font-size: rem(36);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  max-width: rem(568);
  margin: 0 auto;
  margin-bottom: rem(70);
  padding: rem(16) 0;

  text-align: center;

  color: #FFF;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba( 255, 255, 255, 0.00) 0%, #FFF 50%, rgba( 255, 255, 255, 0.00) 100%);
  border-image-slice: 1;
}

.goal__points {
  position: relative;

  display: flex;
  align-items: end;
  flex-direction: column;

  margin-right: rem(60);
}

.goal__img {
  position: absolute;
  left: 0;
}

.goal__garanty {
  max-width: rem(890);
  margin-bottom: rem(70);
  padding: rem(50) rem( 60) rem( 50) rem( 194);

  background-image: url(../img/about/background-goal.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.goal__comfort {
  max-width: rem(890);
  padding: rem(50) rem( 60) rem( 50) rem( 194);

  background-image: url(../img/about/background-goal.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.goal__text {
  font-family: Montserrat;
  font-size: rem(18);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  max-width: rem(637);

  color: #FFF;
}

.video__block {
  width: rem(1240);
  height: rem(715);
  margin-top: rem(120);

  background-image: url(../img/about/about-large-picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  filter: brightness(20%);
}
