/* footer */

.footer__top {
  display: flex;
  justify-content: space-between;

  border: 2px solid;
  border-image: linear-gradient(90deg, #FFF 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.71) 35.93%, rgba( 255, 255, 255, 0.00) 100%);
  border-image-slice: 1%;
}

.footer__logo {
  z-index: 1;

  display: flex;
  align-items: center;
}

.footer__nav {
  margin-top: rem(48);
  margin-bottom: rem(36);

  li {
    margin-bottom: rem(17);

    text-align: right;
  }

  a {
    font-family: Raleway;
    font-size: rem(14);
    font-weight: 400;

    color: #8B8B8B;
  }

  a:hover {
    color: #fff;
  }
}

.footer__bottom {
  position: relative;
}

.footer__bottom-text {
  font-family: Raleway;
  font-size: rem(10);
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  padding: rem(40) 0;

  text-align: center;

  color: #646464;
}

.footer__logo-decor {
  position: absolute;
  top: rem(-310);
  left: rem(-389);

  width: rem(784);
  height: rem(784);

  content: "";

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.20);

  filter: blur(rem( 167) );
}
