/* header */

.header__inner {
}

.header__top {
}

.header__language {
  display: flex;
  justify-content: right;

  padding-top: 23px;
  padding-bottom: 31px;

  color: #FFFFFF;

  gap: 21px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.header__logo {
}

.header__nav {
  ul {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;

    display: flex;
    justify-content: right;

    color: #494949;

    gap: 80px;

    a {
      font-family: Raleway;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: normal;

      color: #494949;
    }

    a:hover {
      color: #fff;
    }
  }
}
