/* header */

.header__inner {
}

.header__top {
}

.header__language {
  display: flex;
  justify-content: right;

  padding-top: rem(23);
  padding-bottom: rem(31);

  color: #FFFFFF;

  gap: rem(21);
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.header__logo {
}

.header__nav {
  ul {
    font-family: Raleway;
    font-size: rem(16);
    font-weight: 300;
    font-style: normal;
    line-height: normal;

    display: flex;
    justify-content: right;

    color: #494949;

    gap: rem(80);

    a {
      font-family: Raleway;
      font-size: rem(16);
      font-weight: 300;
      font-style: normal;
      line-height: normal;

      color: #494949;
    }

    a:hover {
      color: #fff;
    }
  }
}
