/* Lamidov page */

.auther-page__inner {
  padding-top: rem(127);
}

.auther__block {
  display: flex;
}

.auther__photo {
  margin-right: rem(126);
}

.auther__info {
  margin-bottom: rem(80);
}

.auther__name {
  font-family: Raleway;
  font-size: rem(52);
  font-weight: 300;
  font-style: normal;
  line-height: normal;

  margin-bottom: rem(50);

  color: #FFF;
}

.auther__text {
  font-family: Raleway;
  font-size: rem(16);
  font-weight: 300;
  font-style: normal;
  line-height: normal;

  max-width: rem(780);
  padding-bottom: rem(20);

  color: #B3AA9D;
}

.lamidov__main {
  max-width: rem(260);
  margin-left: rem(116);
}

.lamidov__main-title {
  font-family: Montserrat;
  font-size: rem(49);
  font-weight: 300;
  font-style: normal;
  line-height: normal;

  text-transform: uppercase;

  color: #4D453A;
}

.lamidov__authors {
  padding-top: rem(60);
  padding-bottom: rem(165);

  text-align: center;
}

.lamidov__author-text {
  font-family: Raleway;
  font-size: rem(18);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  padding-bottom: rem(15);

  color: #FFF;
}

.lamidov__author-text:hover {
  transition-duration: 0.5s;

  scale: 105%;
}

.auther__title {
  font-family: Raleway;
  font-size: rem(32);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  padding: rem(30) 0;

  text-align: center;

  color: #FFF;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.71) 35.93%, rgba( 255, 255, 255, 0.00) 100%);
  border-image-slice: 1;
}

.lamidov__picture {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  max-height: rem(1650);
  padding: rem(70) rem( 45);

  column-gap: rem(152);
}

.picture__card {
  margin-bottom: rem(50);
}

.picture__name {
  font-family: Raleway;
  font-size: rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;

  color: rgba(255, 255, 255, 0.80);
}

.picture__size {
  font-family: Raleway;
  font-size: rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  text-align: center;

  color: rgba(117, 117, 117, 0.80);
}

.btn__picture-more {
  display: flex;
  align-items: center;
  justify-content: center;

  width: rem(268);
  min-height: rem(48);
  margin: 0 auto;
  margin-bottom: rem(68);

  border: 1px solid #5E5548;
  background-color: transparent;

  p {
    font-family: Raleway;
    font-size: rem(16);
    font-weight: 500;
    font-style: normal;
    line-height: normal;

    padding-left: rem(25);

    text-align: center;

    color: #5E5548;
  }
}
