/* Main page */

.main__inner {
  padding-top: rem(93);

  background-image: url(../img/main-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  position: relative;

  width: rem(7);
  height: rem(7);
  margin-bottom: rem(98);
  margin-left: rem(170);

  border: none;
  border-radius: 50%;
  background-color: #FEFFD0;
}

.circle:before {
  position: absolute;
  top: rem(-13);
  left: rem(-12);

  width: rem(32);
  height: rem(32);

  content: "";

  border-radius: 50%;
  background-color: #FEFFD0;

  filter: blur(rem( 15) );
}

.main__text {
  margin-left: rem(80);
}

.main__title {
  font-family: Raleway;
  font-size: rem(49);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  text-transform: uppercase;

  color: #FFF;
}

.main__description {
  font-family: Raleway;
  font-size: rem(34);
  font-weight: 100;
  font-style: normal;
  line-height: rem(70);

  color: #656565;
}

.main__button {
  width: rem(70);
  height: rem(110);
  margin-top: rem(90);
  margin-bottom: rem(120);
  margin-left: rem(110);
  padding: 0;

  animation: main__btn-slide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  border: none;
  background-color: transparent;
}

@keyframes main__btn-slide {

0% {
  transform: translateY(0);
}

50% {
  transform: translateY(10px);
}

100% {
  transform: translateY(0);
}

}

.card__inner {
  display: grid;
  justify-content: center;

  padding-bottom: rem(145);

  grid-template-columns: repeat(2, rem( 540) );
  grid-template-rows: repeat(2, rem( 320) );
  column-gap: rem(20);
  row-gap: rem(90);
}

.card__painter {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid;
  border-image: linear-gradient(90deg, rgba( 255, 255, 255, 0.0) 0%, rgba( 255, 255, 255, 0.2) 43.75%, rgba( 255, 255, 255, 0.0) 100%);
  border-image-slice: 1%;

  gap: rem(54);
}

.card__painter:hover {
  border-image: linear-gradient(rgba( 255, 255, 255, 0.0) 0%, rgba( 255, 255, 255, 0.71) 43.75%, rgba( 255, 255, 255, 0.0) 100%);
  border-image-slice: 20% 20%;

  .card__painter-img {
    background-size: 120% 120%;
  }

  .card__painter-name {
    font-weight: 400;

    color: #494949 no-repeat;
  }
}

.card__painter-name {
  font-family: Raleway;
  font-size: rem(32);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  max-width: rem(160);

  text-align: right;

  color: #FFF;
}

.card__painter-img {
  width: rem(250);
  height: rem(250);
  margin: rem(35) 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__painter-text {
  font-family: Raleway;
  font-size: rem(40);
  font-weight: 800;
  font-style: normal;
  line-height: normal;

  max-width: rem(160);
  margin: rem(75) auto;

  text-align: center;

  color: #ffffff;
}

.card__picture-1 {
  transition: background-size 1.5s ease;

  background: url(../img/main-cards/shkulipa.webp) 50% 50% no-repeat;
  background-size: 100% 100%;
}

.card__picture-2 {
  transition: background-size 1.5s ease;

  background: url(../img/main-cards/rytikova.webp) 50% 50% no-repeat;
  background-size: 100% 100%;
}

.card__picture-3 {
  transition: background-size 1.5s ease;

  background: url(../img/main-cards/yakubovich.webp) 50% 50% no-repeat;
  background-size: 100% 100%;
}

.card__picture-4 {
  transition: background-size 1.5s ease;

  background: url(../img/main-cards/shein.webp) 50% 50% no-repeat;
  background-size: 100% 100%;
}

.card__picture-5 {
  transition: background-size 1.5s ease;

  background: url(../img/main-cards/logacheva.webp) 50% 50% no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}
