/* Pictures page */

.picture-page__inner {
  padding-top: rem(93);

  background-image: url(../img/picture/picture-main-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.picture__main {
  max-width: rem(260);
  margin-left: rem(116);
}

.picture__main-title {
  font-family: Montserrat;
  font-size: rem(49);
  font-weight: 300;
  font-style: normal;
  line-height: normal;

  text-transform: uppercase;

  color: #4D453A;
}

.picture__authors {
  padding-top: rem(60);
  padding-bottom: rem(165);

  text-align: center;
}

.picture__author-text {
  font-family: Raleway;
  font-size: rem(18);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  padding-bottom: rem(15);

  color: #FFF;
}

.picture__author-text:hover {
  transition-duration: 0.5s;

  scale: 105%;
}

.auther__title {
  font-family: Raleway;
  font-size: rem(32);
  font-weight: 100;
  font-style: normal;
  line-height: normal;

  padding: rem(30) 0;

  text-align: center;

  color: #FFF;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.00) 0%, rgba( 255, 255, 255, 0.71) 35.93%, rgba( 255, 255, 255, 0.00) 100%);
  border-image-slice: 1;
}

.antipov__pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  max-height: rem(1000);
  padding: rem(70) rem( 45);

  column-gap: rem(152);
}

.lamidov__pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  max-height: rem(1300);
  padding: rem(70) rem( 45);

  column-gap: rem(152);
}

.oganesyn__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  max-height: rem(600);
  padding: rem(70) rem( 45) rem( 70) rem( 45);

  column-gap: rem(152);
}

.osinin__pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  max-height: rem(600);
  padding: rem(70) rem( 45);

  column-gap: rem(152);
}

.picture__card {
  margin-bottom: rem(50);
}

.picture__name {
  font-family: Raleway;
  font-size: rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  margin-top: rem(30);
  margin-bottom: rem(10);

  text-align: center;

  color: rgba(255, 255, 255, 0.80);
}

.picture__size {
  font-family: Raleway;
  font-size: rem(16);
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  text-align: center;

  color: rgba(117, 117, 117, 0.80);
}
