/* 05/ Projects (popup urban project) */

.popup__projects-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.popup__urban {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 1280px;
    max-width: 90%;
    margin: auto;
    padding: 40px;

    transform: translate(-50%, -50%);

    background-color: #2a2a2a;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;

    width: 28px;
    height: 28px;
    margin-top: 15px;
    margin-right: 35px;

    cursor: pointer;
    transition: transform 0.3s ease;

    border: none;
    background-image: url(../img/application-cross.svg);
    background-position: center;
    background-size: cover;
}

.close-btn:hover {
    transform: scale(1.5);

    scale: 110%;
}

.popup__urban-title {
    font-family: 'Akrobat';
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    line-height: 46px;

    max-width: 1120px;
    margin-bottom: 15px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.popup__urban-title-info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 22px;
}

.popup__urban-info-text {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;

    span {
        font-weight: 400;

        opacity: 0.6;
    }
}

.popup__urban-block {
    display: flex;

    div:first-child {
        flex-basis: 55%;
    }

    div:last-child {
        flex-basis: 45%;
    }
}

.popup__urban-text-block {
    padding: 25px 20px;

    border: 1px dashed #9B9B9B;
}

.popup__urban-subtitle {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;

    max-width: 515px;
    margin-bottom: 30px;

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.popup__urban-stages-title {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;

    color: #FFFFFF;
}

.popup__urban-stages-inner {
    padding-left: 18px;
}

.popup__urban-stages-text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;

    max-width: 550px;
    padding-left: 2px;

    list-style-type: decimal;

    opacity: 0.7;
    color: #FFFFFF;

    li {
        margin-left: 18px;

        list-style-type: disc;
    }
}

.popup__urban-images-block {
    padding: 25px 20px;

    border: 1px dashed #9B9B9B;
    border-width: 1px 1px 1px 0;
}

.popup__urban-image-top {
    width: 100%;
    min-height: 260px;
    margin-bottom: 10px;

    background-image: url(../img/project-generalplan-urban-popup-top.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.popup__urban-image-bottom {
    width: 100%;
    min-height: 260px;

    background-image: url(../img/project-generalplan-urban-popup-bottom.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
