<!-- Header -->

<header>
  <div class="header__inner">
    <div class="header__top">
      <div class="header__language">
        <!-- <div>Ru</div>
        <div>Eng</div> -->
      </div>
    </div>

    <div class="header__bottom">
      <div class="header__logo">
        <a href="">
          <img src="assets/img/logo_header.svg" alt="logo">
        </a>
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="index.html">Главная</a></li>
          <li><a href="about.html">О галерее</a></li>
          <li><a href="pictures.html">Картины</a></li>
          <!-- <li><a href="#events">Мероприятия</a></li> -->
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
      <button class="header-mobile__btn"></button>
    </div>
  </div>

      <!-- mobile menu -->
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="index.html">Главная</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="about.html">О галерее</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="pictures.html">Картины</a></li>
        <!--     <li class="menu-mobile__item"><a class="menu-mobile__link" href="#projects">Мероприятия</a></li> -->
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="contacts.html">Контакты</a></li>
      </ul>





</header>