* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PorscheNextArabicTT-Regular';
  font-weight: normal;
  font-style: normal;
  src:
    url(../fonts/PorscheNextArabicTT-Regular.woff2) format('woff2'),
    url(../fonts/PorscheNextArabicTT-Regular.woff) format('woff'),
    url(../fonts/PorscheNextArabicTT-Regular.eot) format('eot'),
    url(../fonts/PorscheNextArabicTT-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/PorscheNextArabicTT-Regular.ttf) format('ttf'),
    url(../fonts/PorscheNextArabicTT-Regular.otf) format('otf');
}

:root {
  --decor-color: #FD2016;
}

html {
  scroll-behavior: smooth;
  font-family: 'Manrope';
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

body {
  position: relative;
  overflow-x: hidden;
}

.header {
  padding: 1.15vw 7.24vw;
}

.header__top {
  padding-bottom: 1.15vw;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2.97vw;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.20vw;
}

.header__logo-img {
  width: 11.09vw;
  height: 2.60vw;
}

.header__logo-text {
  width: 6.98vw;
  font-weight: 400;
  font-size: 0.57vw;
  line-height: 1.04vw;
  letter-spacing: 0.02em;
  color: #2A2A2A;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.52vw;
  width: 100%;
  width: 10.52vw;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__address-img {
  width: 1.82vw;
  height: 1.82vw;
}

.header__address-text {
  width: 8.18vw;
  font-weight: 400;
  font-size: 0.57vw;
  line-height: 0.94vw;
  color: #2A2A2A;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.52vw;
  width: 100%;
  max-width: 7.40vw;
}

.header__location-img {
  width: 0.63vw;
  height: 0.78vw;
}

.header__location-link {
  width: 6.25vw;
  padding-bottom: 0.21vw;
  font-weight: 700;
  font-size: 0.57vw;
  line-height: 0.78vw;
  letter-spacing: 0.05em;
  color: #2A2A2A;
}

.header__location-link::after {
  content: "";
  display: block;
  max-width: 6.25vw;
  padding-top: 0.21vw;
  border-bottom: 0.10vw dotted var(--decor-color);
}

.header__location-link:hover::after {
  max-width: 50%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header__location-map {
  display: none;
  position: absolute;
  top: 6.25vw;
  left: 33.33vw;
}

.header__location-map iframe {
  width: 29.17vw;
  height: 20.83vw;
}

.header__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10.05vw;
  gap: 0.52vw;
}

.header__calc-img {
  width: 1.82vw;
  height: 1.82vw;
}

.header__calc-link {
  width: 7.66vw;
  font-weight: 700;
  font-size: 0.57vw;
  line-height: 0.99vw;
  letter-spacing: 0.05em;
  color: #2A2A2A;
}

.header__calc-link span::after {
  content: "";
  display: block;
  max-width: 7.55vw;
  border-bottom: 0.10vw dotted var(--decor-color);
}

.header__calc-link::after {
  content: "";
  display: block;
  max-width: 5.73vw;
  border-bottom: 0.10vw dotted var(--decor-color);
}

.header__calc-link:hover::after {
  max-width: 35%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 12.55vw;
  gap: 1.25vw;
}

.header__social-text {
  width: 5.21vw;
  font-weight: 400;
  font-size: 0.57vw;
  line-height: 0.94vw;
  letter-spacing: 0.03em;
  color: #2A2A2A;
}

.header__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.31vw;
}

.header__whats-app-img {
  width: 1.82vw;
  height: 1.82vw;
}

.header__social-whats-app:hover {
  scale: 108%;
}

.header__telegram-img {
  width: 1.82vw;
  height: 1.82vw;
}

.header__social-telegram:hover {
  scale: 108%;
}

.header__viber-img {
  width: 1.82vw;
  height: 1.82vw;
}

.header__social-viber:hover {
  scale: 108%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  cursor: pointer;
}

.js-mob-txt-color {
  color: #2a2a2a;
}

.header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.31vw;
  width: 100%;
  max-width: 10.47vw;
  margin-bottom: 0.31vw;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__schedule-green-circle {
  width: 0.21vw;
  height: 0.21vw;
  border-radius: 50%;
  background-color: #20C863;
}

.header__schedule-text {
  font-weight: 400;
  font-size: 0.63vw;
  line-height: 0.52vw;
  letter-spacing: 0.02em;
  color: #2A2A2A;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.21vw;
  margin: 0.31vw 0;
}

.header__phone-number {
  width: 100%;
  min-width: 9.79vw;
  font-weight: 700;
  font-size: 1.04vw;
  line-height: 0.52vw;
  text-align: center;
  color: #2A2A2A;
}

.header__phone-arrow {
  width: 0.47vw;
  height: 0.26vw;
}

.header__order-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.05vw;
}

.header__order-call-text {
  width: 5.94vw;
  font-weight: 400;
  font-size: 0.63vw;
  line-height: 1.09vw;
  letter-spacing: 0.05em;
  color: #2A2A2A;
}

.header__order-call-img {
  width: 0.31vw;
  height: 0.31vw;
}

.header__order-call-text::after {
  content: "";
  display: block;
  width: 6.25vw;
  border-bottom: 0.10vw dotted var(--decor-color);
}

.header__order-call-text:hover::after {
  width: 50%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.65vw;
  padding-top: 1.15vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  border-top: 0.05vw solid rgb(16%, 16%, 16%, 0.15);
}

.header__bottom-nav {
  width: 100%;
  font-weight: 600;
  font-size: 0.63vw;
  line-height: 0.83vw;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #2A2A2A;
}

.header__bottom a:hover {
  color: var(--decor-color);
}

.header__bottom li:hover {
  scale: 106%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.nav-sublink {
  display: none;
}

.header__burger-button {
  display: none;
}

.bottom__mobile-menu {
  display: none;
}

.main__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__page-scroll {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-top: 1.82vw;
  padding-bottom: 1.98vw;
  width: 100%;
  max-width: 7.29vw;
}

.main__page-scroll-text {
  font-family: 'PorscheNextArabicTT-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.83vw;
  line-height: 1.30vw;
  letter-spacing: 0.1em;
  color: #EFEFEF;
  text-align: end;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main__page-scroll-line {
  margin-top: 1.98vw;
  position: absolute;
  display: block;
  width: 25.42vw;
  border: 0.05vw solid #EFEFEF;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 15.63vw;
}

.main__page-scroll-box {
  position: absolute;
  margin-top: 1.98vw;
  top: 33.85vw;
}

.main__page-scroll-up-img {
  display: block;
  width: 0.96vw;
  height: 1.67vw;
}

.main__page-scroll-down-img {
  display: none;
  width: 0.96vw;
  height: 1.67vw;
}

.main__page-info-block {
  max-width: 92.71vw;
  background-image: url(../img/general/main-page-blackout-1.png), url(../img/general/main-page-blackout-2.png), url(../img/general/main-page-img.png);
  background-size: cover;
}

.main__info-block {
  margin: 6.67vw 34.06vw 6.46vw 5.99vw;
}

.main__title {
  width: 100%;
  max-width: 52.66vw;
  font-weight: 400;
  font-size: 3.39vw;
  line-height: 4.69vw;
  letter-spacing: 0.02em;
  color: #fff;
}

.main__title span {
  font-weight: 700;
}

.main__text {
  width: 100%;
  max-width: 46.41vw;
  margin: 2.34vw 0;
  font-weight: 400;
  font-size: 1.41vw;
  line-height: 2.34vw;
  letter-spacing: 0.02em;
  color: #fff;
}

.main__buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.15vw;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.73vw;
  max-width: 20.83vw;
  width: 100%;
  border-radius: 26.04vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.btn:before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-25em) skewX(-45deg);
  -ms-transform: translateX(-25em) skewX(-45deg);
  transform: translateX(-25em) skewX(-45deg);
  -webkit-animation: move-light 10s linear 5s infinite;
  animation: move-light 10s linear 5s infinite;
}

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-25em) skewX(-45deg);
    transform: translateX(-25em) skewX(-45deg);
  }

  10% {
    -webkit-transform: translateX(20em) skewX(-45deg);
    transform: translateX(20em) skewX(-45deg)
  }

  to {
    -webkit-transform: translateX(20em) skewX(-45deg);
    transform: translateX(20em) skewX(-45deg);
  }
}

@keyframes move-light {
  from {
    -webkit-transform: translateX(-25em) skewX(-45deg);
    transform: translateX(-25em) skewX(-45deg);
  }

  10% {
    -webkit-transform: translateX(20em) skewX(-45deg);
    transform: translateX(20em) skewX(-45deg)
  }

  to {
    -webkit-transform: translateX(20em) skewX(-45deg);
    transform: translateX(20em) skewX(-45deg);
  }
}

.btn-calc {
  padding: 1.35vw 2.03vw 1.35vw 2.81vw;
  font-weight: 600;
  font-size: 0.83vw;
  line-height: 1.25vw;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: var(--decor-color);
}

.btn-calc:hover {
  scale: 101%;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn-calc-arrow-img {
  width: 1.12vw;
  height: 1.12vw;
}

.btn-calc:hover img {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn-calc:active {
  scale: 99%;
}

.btn-whats-app {
  padding: 1.77vw;
  gap: 0.63vw;
  font-weight: 600;
  font-size: 0.83vw;
  line-height: 1.30vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  border: 0.05vw solid;
  border-color: rgba(255, 255, 255, 0.45);
  white-space: nowrap;
}

.btn-whats-app-img {
  width: 1.56vw;
  height: 1.56vw;
}

.btn-whats-app:hover {
  scale: 101%;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn-whats-app:active {
  scale: 99%;
  background: #F5F5F5;
}

.main__conditions-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main__conditions-block ul li {
  padding: 0 4.95vw;
  border-left: 0.05vw solid rgb(255, 255, 255, 0.25);
  border-right: 0.05vw solid rgb(255, 255, 255, 0.25);
}

.main__conditions-block ul li:nth-child(2) {
  max-width: 12.9vw;
}

.main__conditions-block ul li:nth-child(4) {
  max-width: 21.9vw;
}

.main__conditions-block img {
  width: 0.69vw;
  height: 0.50vw;
}

.main__conditions-text {
  margin-top: 0.99vw;
  margin-bottom: 1.77vw;
  font-weight: 400;
  font-size: 0.89vw;
  line-height: 1.41vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.main__conditions-text span {
  font-weight: 700;
  font-size: 0.89vw;
  line-height: 1.41vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.main__conditions-text br {
  display: none;
}

.popup__over-call {
  display: none;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__conteiner {
  position: fixed;
  right: 0;
  top: 10.42vw;
  left: 0;
  margin: auto;
  width: 26.04vw;
  height: 31.25vw;
  background-image: url(../img/general/application-background.png);
}

.popup__map {
  display: none;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__map-conteiner {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
}

.popup__location-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5.94vw;
}

.popup__location-map iframe {
  width: 58.33vw;
  height: 41.67vw;
}

.close-btn {
  position: absolute;
  top: 1.82vw;
  left: 23.07vw;
  width: 1.04vw;
  height: 1.04vw;
  border: none;
  background-image: url(../img/general/application-background.png);
}

.close-btn:hover {
  scale: 105%;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

form {
  text-align: center;
}

.application-title {
  width: 100%;
  max-width: 14.69vw;
  padding-top: 2.34vw;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 2.29vw;
  color: #fff;
  text-align: center;
}

.application-text {
  width: 100%;
  max-width: 18.91vw;
  padding: 0.83vw 0 1.77vw 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.46vw;
  text-align: center;
  color: #FFFFFF;
}

.application-phone {
  min-width: 16.46vw;
  padding: 1.46vw 1.25vw;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.25vw;
  letter-spacing: 0.03em;
  color: #B0B0B1;
  text-align: center;
  text-decoration: none;
  background: #FAFAFA;
  -webkit-box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 3.80vw;
  outline: none;
}

.application-btn {
  width: 18.91vw;
  margin: 1.30vw auto;
  padding: 1.35vw 1.15vw;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.25vw;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  border: none;
  background: #2a2a2a;
  -webkit-box-shadow: inset 0px 0px 1.09vw rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 1.09vw rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3.80vw;
}

.conteiner-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.73vw;
}

.application-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.application-checkbox+label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.application-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 0.94vw;
  height: 0.94vw;
  border: 0.05vw solid var(--decor-color);
  border-radius: 0.31vw;
  background-repeat: no-repeat;
  background-position: center center;
}

.application-checkbox:checked+label::before {
  border-color: var(--decor-color);
  background-image: url(../img/icons/application-check.svg);
}

.checkbox-text {
  text-align: left;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 0.99vw;
  color: #FFFFFF;
}

.checkbox-text span {
  color: var(--decor-color);
}

.answer-text {
  display: none;
  position: absolute;
  margin-top: 10.60vw;
  padding: 0 2.34vw;
  font-weight: 400;
  font-size: 1.41vw;
  line-height: 2.34vw;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

@media (max-width: 480px) {

  .header {
    position: fixed;
    padding: 0 7.24vw;
    z-index: 1;
    overflow-y: auto;
  }

  .header__top {
    padding-bottom: 0;
    margin-top: 3.75vw;
  }

  .header__top-active {
    background-color: #fff;
  }

  .header__top-content {
    gap: 10vw;
    max-width: 86.17vw;
  }

  .header__logo-img {
    width: 28.75vw;
    height: 6.88vw;
  }

  .header__logo-text {
    display: none;
  }

  .header__address {
    display: none;
  }

  .header__location {
    display: none;
  }

  .header__calc {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__contacts {
    width: 33.44vw;
    margin: 0;
  }

  .header__schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.31vw;
    width: 100%;
    width: 10.47vw;
    margin-bottom: 0.31vw;
  }

  .header__schedule-green-circle {
    min-width: 1.25vw;
    min-height: 1.25vw;
    margin-right: 1.56vw;
  }

  .header__schedule-text {
    min-width: 25.94vw;
    font-size: 1.88vw;
    line-height: 3.13vw;
    color: #fff;
  }

  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.21vw;
    margin: 1.56vw 0;
  }

  .header__phone-number {
    font-size: 3.63vw;
    line-height: 3.13vw;
    color: #fff;
  }

  .header__phone-img {
    display: none;
  }

  .header__order-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 0.94vw;
  }

  .header__order-call-text {
    min-width: 17vw;
    font-size: 1.88vw;
    line-height: 4vw;
    color: #fff;
  }

  .header__order-call-img {
    width: 1.88vw;
    height: 1.88vw;
  }

  .header__order-call-text::after {
    width: 19.69vw;
    border-bottom: 0.63vw dotted var(--decor-color);
  }

  .header__order-call-text:hover::after {
    width: 51%;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .header__bottom {
    display: none;
  }

  .header__bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 7.50vw;
    padding-top: 9.69vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    border: none;
  }

  .header__bottom-nav {
    font-size: 5.00vw;
    line-height: 6.88vw;
    color: #1c1c1c;
  }

  .header__bottom ul li:nth-child(1) {
    display: none;
  }

  .header__bottom a:hover {
    color: var(--decor-color);
  }

  .header__bottom li:hover {
    scale: 100%;
  }

  .menu-item {
    cursor: pointer;
  }

  .nav-sublink {
    display: block;
    margin-top: 4.38vw;
  }

  .nav-sublink-text {
    display: block;
    font-weight: 400;
    font-size: 3.75vw;
    line-height: 7.81vw;
    color: #929292;
  }

  .header__burger-button {
    display: block;
    height: 4.61vw;
    width: 4.25vw;
  }

  .bottom__mobile-menu {
    display: none;
    margin-top: 11.88vw;
  }

  .bottom__mobile-menu span {
    font-weight: 800;
  }

  .mobile__menu-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 5.63vw;
  }

  .mobile__menu-address-img {
    width: 20.31vw;
    height: 20.31vw;
  }

  .mobile__menu-address-link {
    width: 64.00vw;
    font-weight: 400;
    font-size: 4.38vw;
    line-height: 7.94vw;
    letter-spacing: 0.05em;
    color: #2A2A2A;
  }

  .mobile__menu-address-link::after {
    content: "";
    display: block;
    width: 62.31vw;
    border-bottom: 0.63vw dotted var(--decor-color);
  }

  .mobile__menu-address-link:hover::after {
    width: 50%;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .mobile__menu-calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 5.63vw;
    margin: 11.88vw 0;
  }

  .mobile__menu-calc-img {
    width: 20.31vw;
    height: 20.31vw;
  }

  .mobile__menu-calc-link {
    width: 45.00vw;
    font-weight: 400;
    font-size: 4.38vw;
    line-height: 5.94vw;
    letter-spacing: 0.05em;
    color: #2A2A2A;
  }

  .mobile__menu-calc-link::after {
    content: "";
    display: block;
    width: 21.31vw;
    border-bottom: 0.63vw dotted var(--decor-color);
  }

  .mobile__menu-calc-link:hover::after {
    width: 25%;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .mobile__menu-questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 5.63vw;
    width: 75vw;
    padding-bottom: 20vw;
  }

  .mobile__menu-questions-img {
    width: 20.31vw;
    height: 20.31vw;
  }

  .mobile__menu-questions-link {
    font-weight: 400;
    font-size: 4.38vw;
    line-height: 4.94vw;
    letter-spacing: 0.05em;
    color: #2A2A2A;
  }

  .sochial__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.99vw;
    margin-top: 4.06vw;
  }

  .mobile-menu__telegram-img {
    width: 9.94vw;
    height: 9.94vw;
  }

  .mobile-menu__whats-app-img {
    width: 9.94vw;
    height: 9.94vw;
  }

  .main__page {
    display: block;
  }

  .main__page-scroll {
    display: none;
  }

  .main__page-info-block {
    min-width: 100%;
    padding-top: 29.69vw;
    background-repeat: no-repeat;
    background-position: center;
  }

  .main__info-block {
    margin-top: 0vw;
    max-width: 86.25vw;
    margin: 0 auto;
  }

  .main__title {
    min-width: 63.25vw;
    font-size: 6.25vw;
    line-height: 9.06vw;
  }

  .main__text {
    min-width: 80.94vw;
    margin: 8.75vw 0;
    font-size: 3.75vw;
    line-height: 5.63vw;
  }

  .main__buttons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.69vw;
    padding-bottom: 15.31vw;
  }

  .btn {
    max-width: 86.25vw;
    min-height: 18.75vw;
    border-radius: 104.17vw;
  }

  .btn-calc {
    font-size: 3.13vw;
    line-height: 4.69vw;
    padding: 1.35vw 12.81vw;
  }

  .btn-calc img {
    display: none;
  }

  .btn-whats-app {
    font-size: 3.13vw;
    line-height: 4.69vw;
  }

  .btn-whats-app span {
    color: #20C863;
  }

  .btn-whats-app img {
    display: none;
  }

  .main__conditions-block {
    position: absolute;
    top: 164.58vw;
    padding: 6.875vw;
  }

  .main__conditions-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    row-gap: 3.75vw;
  }

  .main__conditions-block ul li {
    border: none;
    padding: 0;
  }

  .main__conditions-block ul li:nth-child(1) {
    max-width: 38.9vw;
  }

  .main__conditions-block ul li:nth-child(2) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    max-width: 37.9vw;
  }

  .main__conditions-block ul li:nth-child(3) {
    max-width: 38.9vw;
  }

  .main__conditions-block ul li:nth-child(4) {
    max-width: 39.9vw;
  }

  .main__conditions-block img {
    width: 4.12vw;
    height: 3.00vw;
  }

  .main__conditions-text {
    font-size: 3.13vw;
    line-height: 4.69vw;
    color: #282828;
  }

  .main__conditions-text span {
    font-size: 3.13vw;
    line-height: 4.69vw;
    color: #282828;
  }

  .main__conditions-text br {
    display: block;
  }

  .popup__conteiner {
    top: 19.25vw;
    width: 86.04vw;
    height: 83.25vw;
  }

  .close-btn {
    top: 3.92vw;
    left: 76.07vw;
    width: 6.25vw;
    height: 6.25vw;
  }

  .close-btn:hover {
    scale: 105%;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

  form {
    text-align: center;
  }

  .application-title {
    max-width: 65.69vw;
    padding-top: 10.34vw;
    font-size: 5.67vw;
    line-height: 6.29vw;
  }

  .application-text {
    max-width: 58.91vw;
    padding: 4.83vw 0 4.83vw 0;
    font-size: 2.94vw;
    line-height: 4.46vw;
  }

  .application-phone {
    min-width: 55.46vw;
    padding: 3.46vw 2.25vw;
    font-weight: 400;
    font-size: 3.94vw;
    line-height: 1.25vw;
    letter-spacing: 0.03em;
    color: #B0B0B1;
    text-align: center;
    text-decoration: none;
    background: #FAFAFA;
    -webkit-box-shadow: inset 0px 0px 21px rgb(255 255 255 / 40%);
    box-shadow: inset 0px 0px 21px rgb(255 255 255 / 40%);
    border: none;
    border-radius: 7.8vw;
    outline: none;
  }

  .application-btn {
    width: 60.46vw;
    margin: 4.3vw auto;
    padding: 5.96vw 2.15vw;
    font-size: 3.54vw;
    line-height: 0.25vw;
    border-radius: 7.8vw;
  }

  .conteiner-checkbox {
    gap: 3.73vw;
  }

  .application-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .application-checkbox+label::before {
    width: 3.94vw;
    height: 3.94vw;
    border: 0.35vw solid var(--decor-color);
    border-radius: 1.5vw;
  }

  .checkbox-text {
    text-align: left;
    font-weight: 400;
    font-size: 2.33vw;
    line-height: 3.99vw;
    color: #FFFFFF;
  }

  .checkbox-text span {
    color: var(--decor-color);
  }

  .answer-text {
    margin-top: 26.6vw;
    padding: 0 7.34vw;
    font-weight: 700;
    font-size: 6.41vw;
    line-height: 9.34vw;
  }
}