<!-- 05/ Projects (popup riverbank project)-->

<section>
  <div class="popup__projects-wrapper">
    <div class="popup__riverbank js-form">
      <div class="close-btn"></div>
      <h2 class="popup__riverbank-title">Project «Riverbank residences»</h2>
      <div class="popup__riverbank-title-info">
        <p class="popup__riverbank-info-text">Developer: <span>Waterfront properties</span></p>
        <p class="popup__riverbank-info-text">Period: <span>2021</span></p>
      </div>

      <div class="popup__riverbank-block">
          <div class="popup__riverbank-text-block">
            <h3 class="popup__riverbank-subtitle">Riverbank residences is a comfortable modern residential quarter on the scenic riverdale river, providing a tranquil waterfront living environment.</h3>
            <h4 class="popup__riverbank-stages-title">Stage of participation:</h4>
            <ol class="popup__riverbank-stages-inner">
              <li class="popup__riverbank-stages-text">Development of the concept of integrated landscaping of the house and courtyard territory;</li>
              <li class="popup__riverbank-stages-text">Development of "Working documentation" for the architectural concept of the project. The set of working documentation consists of the following drawings:
                <ul class="popup__riverbank-text-list">
                  <li>general data;</li>
                  <li>situational plan;</li>
                  <li>the scheme of the planning organization of the land plot;</li>
                  <li>dendrological plan;</li>
                  <li>plan of small architectural forms with explication of landscaping elements;</li>
                  <li>drawing of the vertical layout of the landscaping object;</li>
                  <li>center plan;</li>
                  <li>landing plan;</li>
                  <li>coverage plan;</li>
                  <li>tile layout schemes;</li>
                  <li>structural sections of coatings.</li>
                </ul> 
              </li>
            </ol>
          </div>
          <div class="popup__riverbank-images-block">
            <div class="popup__riverbank-image-top"></div>
            <div class="popup__riverbank-image-bottom"></div>
          </div>
        </div>
    </div>
  </div>
</section>