<!-- 02/ Area of work(Popup design)-->

<section>
  <div class="popup__area-wrapper">
    <div class="popup__design js-form">
      <div class="close-btn"></div>
      <h2 class="popup__main-title popup__main-title--tab">Design of external engineering networks</h2>
      <div class="popup__inner-block">
        <div class="popup__main-info">
          <h3 class="popup__main-subtitle popup__main-subtitle--tab">The design of external engineering networks is a key stage in the construction of residential and non—residential facilities.</h3>
          <div class="popup__main-text">
            <p>More than 10 years of successful work in the construction design market allows us to develop outdoor engineering networks for projects of any degree of complexity. We can act as the chief designer, or work on the project as a subcontractor.
            </p>
          </div>
        </div>
        <div class="popup__additional-info">
          <div>
            <p class="popup__additional-text">
              Development of schematic diagrams of engineering networks and coordination in departments
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Development of project documentation in accordance with the Decree of the Government of the Russian Federation of 16.02.2008 No. 87 "On the composition of sections of project documentation and requirements for their content"
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Development of working documentation in accordance with GOST R 21.101-2020, consisting of the following sets of working drawings intended for the production of construction and installation works
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Development of working documentation in accordance with GOST R 21.101-2020, consisting of the following sets of working drawings intended for the production of construction and installation works
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>