<!-- 02/ Area of work (Popup genplan)-->

<section>
  <div class="popup__area-wrapper">
    <div class="popup__genplan js-form">
      <div class="close-btn"></div>
      <h2 class="popup__main-title">general plan</h2>
      <div class="popup__inner-block">
        <div class="popup__main-info">
          <h3 class="popup__main-subtitle genplan__subtitle--tab">Preparation of ROM and GP sections is the main specialization of our company.</h3>
          <div class="popup__main-text">
            <p>The presence of 5 general planners in the staff allows you to carry out projects of different scales and levels of complexity. We develop a master plan for residential and non-residential facilities, as well as recreational areas, industrial and agricultural facilities. We give a guarantee of obtaining a positive expert opinion.
            </p>
          </div>
        </div>
        <div class="popup__additional-info">
          <div>
            <p class="popup__additional-text">
              At the stage of "Project documentation" development of section 2 "Scheme of the planning organization of the land plot" (ROM).
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              At the stage of "Working documentation" development of the main set of working drawings of the GP brand.
            </p>
          </div>
          <div>
            <p class="popup__additional-text">
              Technical support of project documentation with approvals in departments and expertise.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>