<!-- 05/ Projects (popup harmony project)-->

<section>
  <div class="popup__projects-wrapper">
    <div class="popup__harmony js-form">
      <div class="close-btn"></div>
      <h2 class="popup__harmony-title">Project «Harmony Grove»</h2>
      <div class="popup__harmony-title-info">
        <p class="popup__harmony-info-text">Developer: <span>Greenscape developments</span></p>
        <p class="popup__harmony-info-text">Period: <span>2023</span></p>
      </div>

      <div class="popup__harmony-block">
          <div class="popup__harmony-text-block">
            <h3 class="popup__harmony-subtitle">harmony grove is a comfortable modern residential quarter surrounded by lush green landscapes, offering a harmonious living environment.</h3>
            <h4 class="popup__harmony-stages-title">Stage of participation:</h4>
            <ol class="popup__harmony-stages-inner">
              <li class="popup__harmony-stages-text">Development of the concept of integrated landscaping of the house and courtyard territory;</li>
              <li class="popup__harmony-stages-text">Development of "Working documentation" for the architectural concept of the project. The set of working documentation consists of the following drawings:
                <ul class="popup__harmony-text-list">
                  <li>general data;</li>
                  <li>situational plan;</li>
                  <li>the scheme of the planning organization of the land plot;</li>
                  <li>dendrological plan;</li>
                  <li>plan of small architectural forms with explication of landscaping elements;</li>
                  <li>drawing of the vertical layout of the landscaping object;</li>
                  <li>center plan;</li>
                  <li>landing plan;</li>
                  <li>coverage plan;</li>
                  <li>tile layout schemes;</li>
                  <li>structural sections of coatings.</li>
                </ul> 
              </li>
            </ol>
          </div>
          <div class="popup__harmony-images-block">
            <div class="popup__harmony-image-top"></div>
            <div class="popup__harmony-image-bottom"></div>
          </div>
        </div>
    </div>
  </div>
</section>