<!-- cases block-->

<section id="cases">
  <div class="cases__inner">
    <div class="container__part-info">
      <p class="title__block-num">04/ cases</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block title__cases">our company performs complex work on the design of the master
        plan and external engineering networks</h2>

      <div class="work__cases">
        <ul>
          <li>
            <div>
              <h3 class="work__case-title case-title__saving">A case about saving on displaced span soils for LSR</h3>
              <a href="#!"><div class="work-case__saving case-popup-link"></div></a>
              <p class="work__case-description">One of the ways to save money without loss of quality is to adjust the
                directive marks at the stage of engineering preparation of the territory</p>
            </div>
            <button class="work__cases-popup-btn">Learn more</button>
          </li>

          <li>
            <div>
              <h3 class="work__case-title case-title__territory">A case about designing on the inter-fleet territory
              </h3>
              <a href="#!"><div class="work-case__design case-popup-link"></div></a>
              <p class="work__case-description">The design of interlot territories is one of the specializations of our
                company
              </p>
            </div>
            <button class="work__cases-popup-btn">Learn more</button>
          </li>

        </ul>
      </div>
      <a class="btn btn__cases" href="#contacts">discuss the project</a>
    </div>
  </div>
</section>