<!-- Contact-form block-->

<section id="contacts">
  <div class="contact-form__inner">
    <div class="container__form-info">
      <p class="form__block-num">09/ contact form</p>
    </div>
    <div class="container__main-info title__text-wrapper">
      <h2 class="title__block contact-form__title">Leave a request for the development of the project and
        we will contact you
      </h2>

      <form class="contact-form" id="form"  name="form">
        <div class="contact-form__input-fields">
          <div class="form__personal-data">
            <label class="legend__person-name">First name, Last Name <span>*</span></label>
            <input class="form__person-name" value="" type="text" name="name" required="required" placeholder="Your name" maxlength="80" pattern="^[a-zA-Z]+$">

            <input class="form__person-phone" value="" type="tel" name="phone" required="required" placeholder="Telephone">

            <input class="form__person-email" value="" type="text" required="required" placeholder="Email">

          </div>
          <div class="form__personal-message">
            <textarea class="form__person-text" placeholder="I want to order a project" required="required" maxlength="600"></textarea>
          </div>
        </div>

        <div class="contact-form__footer">
          <input class="btn application-btn" value="submit" type="submit" disabled="">
          <div class="conteiner-checkbox">
            <input class="application-checkbox" required="required" type="checkbox" id="form-active">
            <label for="form-active"></label>
            <p class="checkbox-text">By clicking the "Submit" button, you agree to the <span><a href="https://drive.google.com/file/d/10XQ_FV8XZoX5UpzNBwvCl52MXVwUftZp/view?usp=sharing" target="_blank">Privacy Policy</a></span> of Personal Data Processing</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
