/* Contact-form block */

.contact-form__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-bottom: rem(120);

  gap: rem(20);
}

.form__block-num {
  font-family: "Inter";
  font-size: rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: 120%;

  margin-top: rem(13);

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #ffffff;
}

.title__block {
  font-family: "Akrobat";
  font-size: rem(45);
  font-weight: 600;
  font-style: normal;
  line-height: 110%;

  margin-bottom: rem(40);

  text-indent: rem(60);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  opacity: 0.9;
  color: #ffffff;

  ::before {
    position: absolute;
    top: rem(24);
    left: 0;

    width: rem(10);
    height: rem(10);

    content: "";

    border-radius: 50%;
    background-color: $color-decor;
  }
}

.contact-form__title {
  max-width: rem(978);
}

.contact-form {
  max-width: rem(1130);
  min-height: rem(337);
  margin: 0 auto;
  padding: rem(20);

  border: rem(1) dashed #9b9b9b;
}

.contact-form__input-fields {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form__personal-data input {
  display: flex;

  width: rem(531);
  margin-bottom: rem(20);
  padding: rem(11);

  color: #ffffff;
  border: rem(1) solid #ffffff;
  outline: none;
  background-color: #2a2a2a;
}

.form__personal-data input:focus::placeholder {
  color: transparent;
}

.form__personal-data input::placeholder {
  flex: none;
  flex-grow: 0;
  order: 0;

  opacity: 0.3;
  color: #ffffff;
}

.legend__person-name {
  font-family: "Montserrat";
  font-size: rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: rem(15);

  color: #ffffff;

  span {
    color: $color-decor;
  }
}

.form__personal-message textarea {
  display: flex;

  width: rem(527);
  height: rem(167);
  margin-top: rem(19);
  margin-bottom: rem(20);
  padding: rem(11);

  resize: none;

  color: #ffffff;
  border: rem(1) solid #ffffff;
  outline: none;
  background-color: #2a2a2a;
}

.form__personal-message textarea::placeholder {
  flex: none;
  flex-grow: 0;
  order: 0;

  opacity: 0.3;
  color: #ffffff;
}

.form__personal-message textarea:focus::placeholder {
  color: transparent;
}

.form__personal-message textarea::placeholder {
  flex: none;
  flex-grow: 0;
  order: 0;

  opacity: 0.3;
  color: #ffffff;
}

.form__personal-message textarea:focus::placeholder {
  color: transparent;
}

.btn {
  font-family: "Inter";
  font-size: rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: 17px;

  cursor: pointer;
  text-transform: uppercase;

  color: #ffffff;
  border-radius: rem(20);
}

.application-btn {
  width: 100%;
  padding: rem(12) 0;

  background: #2a2a2a;
  -webkit-box-shadow: inset 0px 0px 1.09vw rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 1.09vw rgba(255, 255, 255, 0.4);
}

.application-btn--active:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {

0% {
  box-shadow: 0 0 10px #ffd95d;
}

}

.conteiner-checkbox {
  display: flex;

  margin-top: rem(10);

  gap: rem(10);

  .application-checkbox {
    border: rem(1) solid #ffffff;
    background-color: #2a2a2a;
  }

  .checkbox-text {
    font-family: "Inter";
    font-size: rem(13);
    font-weight: 400;
    font-style: normal;
    line-height: rem(16);

    max-width: 410px;

    opacity: 0.7;
    color: #ffffff;

    a {
      color: rgb(172, 172, 208);
    }
  }
}
