/* header */

.header__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: rem(23) rem( 0);
  padding-bottom: rem(35);
}

.page__wrapper {
  position: relative;
}

.logo__img {
  width: rem(131);
  height: rem(34);

  background-image: url(../img/header-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.header__main-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;

  max-width: rem(743);
  margin: 0 rem(10);

  gap: rem(25);

  & li a {
    font-family: "Roboto";
    font-size: rem(14);
    font-weight: 500;
    font-style: normal;
    line-height: rem(16);

    flex-wrap: nowrap;

    text-transform: uppercase;

    color: #ffffff;

    &:hover {
      transition: color .5s ease;

      color: $color-decor;
    }
  }
}

.btn {
  font-family: "Inter";
  font-size: rem(14);
  font-weight: 500;
  font-style: normal;
  line-height: rem(17);

  cursor: pointer;
  transition: color 1.5s ease;
  text-transform: uppercase;

  color: #ffffff;
  border-radius: rem(20);
  background-color: $color-decor;
}

.btn__header {
  padding: rem(12) rem( 27);

  &:hover {
    animation: pulsate 1s ease-in-out;
  }
}

@keyframes pulsate {

0% {
  box-shadow: 0 0 10px #ffd95d;
}

}
