<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>
    <div class="page__wrapper">
        
        {{> header }}

        <div class="section__main">

            {{> main }}

            {{> about }}

            {{> body }}

            {{> area }}

            {{> popup-landscape }}

            {{> popup-genplan }}

            {{> popup-design }}

            {{> benefit }}

            {{> cases }}

            {{> projects }}

            {{> reviews }}

            {{> values }}

            {{> customers }}

            {{> contact-form }}

            {{> popup-saving-case }}

            {{> popup-designing-case }}

            {{> popup-projects-yanino }}

            {{> popup-projects-idealist }}

            {{> popup-projects-outdor-mountain }}

            {{> popup-projects-outdor-riverbank }}

            {{> popup-projects-generalplan-harmony }}

            {{> popup-projects-generalplan-urban }}

            {{> popup-map }}

        </div>

        {{> footer }}

    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- INPUTMASK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    <!-- SLICK SLIDER -->
    <script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <!-- Project JS -->
    <script src="./assets/js/app.js"></script>

</body>

</html>