@import "vendor/normalize";
@import "vars.scss";
@import "mixins";

/* Functions */

@function rem($value) {
  @return calc(#{$value} / 16 * 1rem);
}

/* Default Styles */

html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;

  border: none;
}

ul,
li,
a {
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-width: rem(390);
  max-width: rem(1440);

  /* padding: 0 rem(10); */

  margin: 0 auto;
}

.page__wrapper {
  position: relative;

  box-sizing: border-box;
  max-width: rem(1440);
  padding: 0 rem(100);

  background: #000;
}

/* Blocks */

@import "blocks/header.scss";
@import "blocks/menu-mobile.scss";
@import "blocks/main.scss";
@import "blocks/about.scss";
@import "blocks/picture.scss";
@import "blocks/shkulipa-page.scss";
@import "blocks/rytikova-page.scss";
@import "blocks/yakubovich-page.scss";
@import "blocks/shein-page.scss";
@import "blocks/logacheva-page.scss";
@import "blocks/shkulipa-gallary.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/menu-mobile.scss";
@import "media.scss";
