<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> header }}

    {{> main }}

    {{> services }}

    {{> desigion }}

    {{> 3steps }}

    {{> application }}

    {{> about }}

    {{> all-season }}

    {{> work-system }}

    {{> portfolio }}

    {{> clients }}

    {{> body }}

    {{> footer }}

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- SLICK SLIDER -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <!-- Project JS -->
    <script src="./assets/js/app.js"></script>
</body>

</html>