@function rem($value) {
  @return ($value/16) + rem;
}

@function calc-between-width($width-start, $value-start, $width-end, $value-end) {
  @return calc(
    #{$value-start} * 1px + (#{$value-end} - #{$value-start}) * (100vw - #{$width-start} * 1px) / (#{$width-end} - #{$width-start})
  );
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: calc-between-width(1600, 16, 1920, 19.2);
}

.body {
  overflow: hidden;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

.center {
  margin: 0 auto;
  width: 100%;
  max-width: rem(1370);
  box-sizing: border-box;
}

/* header */

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(36) rem(70) rem(54) rem(70);
}

.header-logo-block {
  position: relative;
  display: flex;
  align-items: center;

  img {
    height: rem(30);
    width: rem(30);
  }
}

.logo-text {
  font-family: "Inter";
  font-style: mixed;
  font-weight: 500;
  font-size: rem(20);
  line-height: rem(24);
  line-height: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: rem(77);
  font-style: medium;
  font-size: rem(14);
  line-height: rem(16);
  line-height: 110%;
  fill: solid;
  color: #333333;
  list-style: none;

  li {
    &:hover {
      scale: 120%;
      transition: 0.5s;
    }
  }

  a {
    &:hover {
      color: #d01717;
    }
  }
}

/* Main-block */

.main-block {
  display: flex;
  justify-content: center;
  height: rem(710);
}

.main-circle {
  display: flex;
  justify-content: center;
  width: rem(163);
  height: rem(163);
  margin-top: rem(210);
  margin-bottom: rem(406);
  border-radius: 50%;
  border: rem(3) solid #05a0a8;
}

.main-circle-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-text {
  position: fixed;
  min-width: rem(876);
  top: rem(250);
  font-family: "Inter";
  font-style: "Semi Bold";
  font-weight: 600;
  font-size: rem(60);
  line-height: rem(73);
  line-height: 100%;
  color: #333333;
  text-align: center;
  opacity: 0;
  z-index: 3;

  span {
    display: block;
  }
}

.main-text {
  position: absolute;
  min-width: rem(425);
  top: rem(255);
  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  line-height: 100%;
  color: #4f4f4f;
  text-align: center;
  opacity: 0;
}

.btn {
  max-width: rem(200);
  min-width: rem(200);
  width: 100%;
  margin-top: rem(27);
  padding: rem(15);
  text-align: center;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: rem(20);
  line-height: rem(24);
  line-height: 100%;
  color: #fff;
  border-radius: rem(30);
  border: none;
  background-color: #d01717;
}

.btn-main {
  position: fixed;
  opacity: 0;
  top: rem(420);
  z-index: 3;
}

.main-bottle-stopper {
  position: fixed;
  top: rem(396);
  width: rem(92);
  height: rem(120);
  z-index: 1;
}

.main-bottle-half-stopper {
  position: fixed;
  top: rem(396);
  width: rem(86);
  height: rem(70);
  z-index: 3;
}

.main-bottle {
  position: fixed;
  top: rem(412);
  margin-left: rem(-6);
  width: rem(330);
  height: rem(720);
  z-index: 2;
}

/* ABOUT */

.about {
  display: flex;
}

.about-left {
  position: relative;
  width: 100%;
  height: 100%;
  height: rem(900);
  overflow: hidden;
}

.about-video {
  position: absolute;
  right: rem(-250);
  height: 100%;
  object-fit: cover;
}

video {
  &::-webkit-media-controls-panel {
    display: none;
  }
}

.about-right {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: rem(685);
  height: rem(900);
  background-color: #333333;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: column;
    gap: rem(52);
  }
}

.about-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  color: #fff;
  list-style: none;
  opacity: 0;
  transform: translateX(rem(500));

  &::before {
    position: absolute;
    margin-left: rem(-30);
    width: rem(35);
    height: rem(27);
    background-image: url(../icons/check-gold.svg);
    background-size: cover;
    background-position: center;
    content: "";
  }
}

/* USE BLOCK */

.use-block {
  display: flex;
  flex-direction: row-reverse;
}

.use-left {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: rem(1370);
  min-height: rem(900);
  overflow: hidden;
}

.use-video {
  position: absolute;
  right: -88%;
  height: 100%;
}

.use-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(900);
  background-color: #333333;

  ul {
    display: flex;
    flex-direction: column;
    gap: rem(52);
  }
}

.use-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  color: #fff;
  list-style: none;
  opacity: 0;
  transform: translateX(rem(-500));

  &::before {
    position: absolute;
    margin-left: rem(-30);
    width: rem(25);
    height: rem(19);
    background-image: url(../icons/check-green.svg);
    background-size: cover;
    background-position: center;
    content: "";
  }
}

/* Color-bottle-block */

.color-bottle-block {
  position: relative;
  display: flex;
  justify-content: center;
}

.color-bottle-title {
  position: absolute;
  width: 100%;
  max-width: rem(444);
  margin-top: rem(267);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(52);
  line-height: rem(63);
  color: #333333;
  opacity: 0;
  transform: translateX(rem(-3000));
}

.color-bottle-text {
  position: absolute;
  width: 100%;
  max-width: rem(270);
  margin-top: rem(398);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  color: #828282;
  opacity: 0;
}

.color-box-btn {
  margin-top: rem(499);
}

.color-bottle-main-img {
  margin: rem(147) rem(102) rem(147) rem(58);

  img {
    width: rem(520);
    height: rem(606);
  }
}

.color-bottle-images {
  display: flex;
  flex-direction: column;
  margin-top: rem(102);
}

.color-bottle-small-img {
  width: rem(140);
  height: rem(170);
  margin-bottom: rem(35);
}

/* pocket-content-block */

.pocket-content-block {
  position: relative;
}

.pocket-block {
  position: relative;
  overflow: hidden;
}

.pocket-backgroung-video-box {
  height: rem(500);
  margin: auto;
  position: relative;
  text-align: center;
}

.pocket-backgroung-video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pocket-block-title {
  position: absolute;
  top: rem(415);
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: rem(595);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(15);
  line-height: rem(18);
  text-align: center;
  color: #fff;
  opacity: 0;

  span {
    display: block;
  }
}

.pocket-block-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  top: rem(578);
  position: absolute;
  margin-top: rem(11);
}

.pocket-woman-img {
  position: absolute;
  height: rem(168);
  width: rem(193);
  left: rem(173);
  bottom: rem(0);
  z-index: 1;
  opacity: 0;
}

.pocket-yellow-bottle-img {
  position: absolute;
  height: rem(272);
  width: rem(305);
  right: rem(175);
  top: rem(0);
  z-index: 1;
  opacity: 0;
}

.effects-block {
  min-height: rem(900);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(118);
}

.effects-title {
  width: 100%;
  min-width: rem(489);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(17);
  line-height: rem(20);
  color: #353535;
  opacity: 0;

  span {
    display: block;
  }
}

.effects-comment {
  width: 100%;
  max-width: rem(313);
  margin-top: rem(21);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(6);
  line-height: rem(7);
  color: #05a0a8;
  opacity: 0;
}

.effects-list {
  list-style: none;
  margin-top: rem(67);
}

.effect-text {
  width: 100%;
  max-width: rem(571);
  margin-top: rem(20);
  margin-left: rem(30);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(6);
  line-height: rem(8);
  color: #828282;
  opacity: 0;

  span {
    display: block;
  }

  &::before {
    position: absolute;
    margin-left: rem(-30);
    width: rem(25);
    height: rem(19);
    background-image: url(../icons/check-green.svg);
    background-size: cover;
    background-position: center;
    content: "";
  }
}

.effect-right-block {
  width: rem(230);
  height: rem(381);
}

.effects-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider-block */

.slider-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: rem(900);
}

.slider-block-text {
  margin: 0 auto;
  width: 100%;
  max-width: rem(313);
  margin-bottom: rem(10);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(10);
  line-height: rem(12);
  text-align: center;
  color: #d01717;
}

.slider-block-title {
  margin: 0 auto;
  width: 100%;
  max-width: rem(842);
  min-height: rem(122);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(27);
  line-height: rem(61);
  text-align: center;
  color: #4f4f4f;

  span {
    color: #05a0a8;
  }
}

.slick-arrow {
  display: none !important;
}

.slick-list div {
  margin: rem(30) rem(11);
}

.carousel-element-1 {
  height: rem(355);
  width: rem(464);
  background-image: url(../img/slider-block-1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-2 {
  height: rem(355);
  width: rem(290);
  background-image: url(../img/slider-block-2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-3 {
  height: rem(355);
  width: rem(464);
  background-image: url(../img/slider-block-3.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-4 {
  height: rem(355);
  width: rem(464);
  background-image: url(../img/slider-block-4.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-5 {
  height: rem(355);
  width: rem(600);
  background-image: url(../img/slider-block-5.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-6 {
  height: rem(355);
  width: rem(464);
  background-image: url(../img/slider-block-6.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-element-7 {
  height: rem(355);
  width: rem(464);
  background-image: url(../img/slider-block-7.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-dots {
  padding-top: rem(30);
  text-align: center;

  li {
    display: inline-block;
    padding: 0 rem(11);
  }

  button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: rem(12);
    height: rem(12);
    border: rem(1) solid #fff;
    border-radius: 50%;
    background-color: #d9d9d9;
  }

  .slick-active {
    button {
      background-color: #d01717;
    }
  }
}

.drink-block {
  position: relative;
  margin-top: rem(39);
}

.drink-block-waterfull {
  position: absolute;
  width: rem(555);
  height: rem(909);
  padding-top: rem(39);
  opacity: 0;
}

.drink-block-question {
  position: relative;
  width: 100%;
  max-width: rem(176);
  margin: 0 auto rem(45) auto;
  padding-top: rem(191);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(12);
  line-height: rem(15);
  text-align: center;
  color: #d01717;
  opacity: 0;
}

.drink-block-title {
  width: 100%;
  max-width: rem(340);
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(49);
  text-align: center;
  color: #05a0a8;
  opacity: 0;

  span {
    color: #d01717;
  }
}

.drink-it-title {
  position: relative;
  z-index: 0;
}

.all-in-title {
  position: relative;
  margin-top: rem(-10);
  z-index: 2;
}

.drink-block-text {
  width: 100%;
  max-width: rem(340);
  margin: rem(82) auto rem(71) auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(12);
  line-height: rem(15);
  text-align: center;
  color: #4f4f4f;
  opacity: 0;

  span {
    display: block;
  }
}

.drink-buttons-block {
  display: flex;
  justify-content: center;
  gap: rem(32);
  margin: 0 0 rem(215) rem(85);
}

.btn-buy {
  opacity: 0;
  margin-top: 0;
  max-width: rem(134);
  min-width: rem(134);
  padding: rem(9) rem(39);
  font-size: rem(13);
  line-height: rem(16);
  border-radius: rem(20);
}

.btn-what {
  margin-top: 0;
  min-width: rem(182);
  background-color: #fff;
  color: #d01717;
  border: rem(1) solid #d01717;
  opacity: 0;
  padding: rem(9) rem(24);
  font-size: rem(13);
  line-height: rem(16);
  border-radius: rem(20);
}

.drink-block-arm-img {
  position: absolute;
  width: rem(696);
  height: rem(476);
  top: rem(177);
  right: 0;
  z-index: 1;
}

/* fairytale-block */

.fairytale-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: rem(900);
}

.winter-backgroung-video {
  height: 100vh;
  object-fit: cover;
}

.fairytale-block-text {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: rem(258);
  margin-top: rem(202);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  color: #ffffff;
  z-index: 1;
  opacity: 0;
}

.fairytale-block-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: rem(373);
  margin-bottom: rem(290);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(27);
  line-height: rem(37);
  text-align: center;
  color: #ffffff;
  z-index: 1;
  opacity: 0;

  span {
    color: #05a0a8;
  }
}

.fairytale-block-bottle-img {
  position: absolute;
  bottom: 0;
  margin-bottom: rem(35);
  width: rem(545);
  height: rem (665);
}

.crazycap-img {
  display: block;
  margin: rem(300) auto 0 auto;
  opacity: 0;
}

.crazycap-block-title {
  width: 100%;
  max-width: rem(660);
  margin: rem(70) auto rem(18) auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(48);
  text-align: center;
  color: #333333;
  opacity: 0;

  span {
    display: block;
  }
}

.crazycap-block-text {
  width: 100%;
  max-width: rem(679);
  margin: 0 auto;
  margin-bottom: rem(90);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  text-align: center;
  color: #05a0a8;
  opacity: 0;

  span {
    display: block;
  }
}

.crazycap-block-btn {
  min-width: rem(282);
  display: block;
  margin: 0 auto rem(108) auto;
  opacity: 0;
}

/* reviews-block */

.reviews-block {
  margin-top: rem(207);
  margin-bottom: rem(144);
}

.reviews-block-content {
  display: flex;
  justify-content: center;
  gap: rem(50);
}

.reviews-block-content-margaret {
  opacity: 0;
  margin-top: 200px;
  margin-right: 400px;
}

.reviews-block-content-peter {
  opacity: 0;
  margin-top: 200px;
}

.reviews-block-content-oisha {
  opacity: 0;
  margin-top: 200px;
  margin-left: 400px;
}

.reviews-block-title {
  width: 100%;
  max-width: rem(170);
  margin: 0 auto rem(59) auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(48);
  text-align: center;
  color: #333333;
  opacity: 0;
  transform: translateY(rem(-207));
}

.reviews-block-subtitle {
  width: 100%;
  max-width: rem(358);
  margin-bottom: rem(10);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(26);
  line-height: rem(31);
  text-align: center;
  color: #05a0a8;
}

.reviews-block-text {
  width: 100%;
  max-width: rem(212);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
  text-align: center;
  color: #4f4f4f;
}

/* Social-block */

.social-block {
  margin-top: rem(-10);
}

.social-block-title {
  width: 100%;
  max-width: rem(632);
  margin: rem(250) auto rem(16) auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(48);
  text-align: center;
  color: #333333;
  opacity: 0;
}

.social-block-text {
  width: 100%;
  max-width: rem(313);
  margin: rem(16) auto rem(83) auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(22);
  text-align: center;
  color: #d01717;
  opacity: 0;
}

.social-block-image {
  display: flex;
  height: rem(260);
  justify-content: space-between;
  list-style: none;
  scale: 1 0.00001;

  &:nth-child(1) {
    width: rem(152);
  }

  &:nth-child(1) {
    width: rem(152);
  }

  &:nth-child(1) {
    width: rem(320);
  }

  &:nth-child(1) {
    width: rem(152);
  }

  &:nth-child(1) {
    width: rem(310);
  }

  &:nth-child(1) {
    width: rem(190);
  }
}

/* Footer */

.footer-block {
  display: flex;
  padding: rem(80) rem(170);
  background-color: #4f4f4f;
}

.footer-title {
  width: 100%;
  max-width: rem(400);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(48);
  color: #ffffff;
}

form {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: rem(547);
  width: 100%;
  min-height: rem(59);
  margin-left: rem(86);
}

input[type="email"] {
  max-width: rem(547);
  width: 100%;
  border-radius: rem(30);
  padding: rem(6) rem(6) rem(6) rem(23);
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  color: #222224;
  outline: rem(1) solid transparent;
}

.btn-subscribe {
  position: absolute;
  margin: rem(5) rem(5) rem(5) rem(315);
  width: 100%;
  max-width: rem(223);
}
